<div id="batav">
<h1>Colts Under-13 Batting: Season 2004-05</h1>
<table>

	
<thead>
		
<tr>
			
<td class="number"></td>
			<th class="name">Batsman's name</th>
			<th class="name">Club</th>
			<th class="number">Total runs</th>
		
</tr>
	
</thead>
	
<tbody>
		
<tr>
			
<td class="number">1</td>
			<td class="name">S Loat</td>
			<td class="name">Havant</td>
			<td class="number">171</td>
		
</tr>
		
<tr>
			
<td class="number">2</td>
			<td class="name">L Jones</td>
			<td class="name">Fareham &amp; Crofton</td>
			<td class="number">169</td>
		
</tr>
		
<tr>
			
<td class="number">3</td>
			<td class="name">T Lewis</td>
			<td class="name">United Services</td>
			<td class="number">164</td>
		
</tr>
		
<tr>
			
<td class="number">4</td>
			<td class="name">G Kitchen</td>
			<td class="name">Gosport Borough</td>
			<td class="number">142</td>
		
</tr>
		
<tr>
			
<td class="number">5</td>
			<td class="name">P Hicks</td>
			<td class="name">Fareham &amp; Crofton</td>
			<td class="number">128</td>
		
</tr>
		
<tr>
			
<td class="number">6</td>
			<td class="name">S Knott</td>
			<td class="name">Locks Heath</td>
			<td class="number">123</td>
		
</tr>
		
<tr>
			
<td class="number">7</td>
			<td class="name">C Harding</td>
			<td class="name">Purbrook</td>
			<td class="number">122</td>
		
</tr>
		
<tr>
			
<td class="number"></td>
			<td class="name">T Larner</td>
			<td class="name">Gosport Borough</td>
			<td class="number">122</td>
		
</tr>
		
<tr>
			
<td class="number">9</td>
			<td class="name">J Reed</td>
			<td class="name">Havant</td>
			<td class="number">120</td>
		
</tr>
		
<tr>
			
<td class="number"></td>
			<td class="name">M Mason</td>
			<td class="name">Fareham &amp; Crofton</td>
			<td class="number">120</td>
		
</tr>
		
<tr>
			
<td class="number">11</td>
			<td class="name">R Peters</td>
			<td class="name">Gosport Borough</td>
			<td class="number">100</td>
		
</tr>
		
<tr>
			
<td class="number">12</td>
			<td class="name">T Dickinson</td>
			<td class="name">Fareham &amp; Crofton</td>
			<td class="number">98</td>
		
</tr>
		
<tr>
			
<td class="number">13</td>
			<td class="name">A Patel</td>
			<td class="name">United Services</td>
			<td class="number">94</td>
		
</tr>
		
<tr>
			
<td class="number">14</td>
			<td class="name">A Ransley</td>
			<td class="name">Havant</td>
			<td class="number">91</td>
		
</tr>
		
<tr>
			
<td class="number">15</td>
			<td class="name">A Wilkinson</td>
			<td class="name">Waterlooville</td>
			<td class="number">89</td>
		
</tr>
		
<tr>
			
<td class="number">16</td>
			<td class="name">A Chick</td>
			<td class="name">United Services</td>
			<td class="number">88</td>
		
</tr>
		
<tr>
			
<td class="number">17</td>
			<td class="name">J White</td>
			<td class="name">Fareham &amp; Crofton</td>
			<td class="number">86</td>
		
</tr>
		
<tr>
			
<td class="number">18</td>
			<td class="name">J Paskins</td>
			<td class="name">Locks Heath</td>
			<td class="number">81</td>
		
</tr>
		
<tr>
			
<td class="number">19</td>
			<td class="name">A Clarke</td>
			<td class="name">Sarisbury Athletic</td>
			<td class="number">76</td>
		
</tr>
		
<tr>
			
<td class="number"></td>
			<td class="name">M Walker</td>
			<td class="name">Locks Heath</td>
			<td class="number">76</td>
		
</tr>
		
<tr>
			
<td class="number">21</td>
			<td class="name">R Prakash</td>
			<td class="name">Havant</td>
			<td class="number">70</td>
		
</tr>
		
<tr>
			
<td class="number"></td>
			<td class="name">P Larcomb</td>
			<td class="name">Sarisbury Athletic</td>
			<td class="number">70</td>
		
</tr>
		
<tr>
			
<td class="number">23</td>
			<td class="name">S Offord</td>
			<td class="name">Havant</td>
			<td class="number">68</td>
		
</tr>
		
<tr>
			
<td class="number">24</td>
			<td class="name">R Way</td>
			<td class="name">Waterlooville</td>
			<td class="number">67</td>
		
</tr>
		
<tr>
			
<td class="number">25</td>
			<td class="name">J Rimmer</td>
			<td class="name">Purbrook</td>
			<td class="number">66</td>
		
</tr>
		
<tr>
			
<td class="number">26</td>
			<td class="name">T Clay</td>
			<td class="name">Portsmouth</td>
			<td class="number">64</td>
		
</tr>
		
<tr>
			
<td class="number">27</td>
			<td class="name">M Landers</td>
			<td class="name">Sarisbury Athletic</td>
			<td class="number">61</td>
		
</tr>
		
<tr>
			
<td class="number"></td>
			<td class="name">Craig Marsh</td>
			<td class="name">Purbrook</td>
			<td class="number">61</td>
		
</tr>
		
<tr>
			
<td class="number">29</td>
			<td class="name">J Charman</td>
			<td class="name">Waterlooville</td>
			<td class="number">56</td>
		
</tr>
		
<tr>
			
<td class="number">30</td>
			<td class="name">A Fisher</td>
			<td class="name">United Services</td>
			<td class="number">55</td>
		
</tr>
	
</tbody>

</table>
</div>
