<div id="batav">
<h1>Colts Under-16 Batting: Season 2004-05</h1>
<table>

	
<thead>
		
<tr>
			
<td class="number"></td>
			<th class="name">Batsman's name</th>
			<th class="name">Club</th>
			<th class="number">Total runs</th>
		
</tr>
	
</thead>
	
<tbody>
<tr>
		
<td class="number">1</td>
		<td class="name">J Hill</td>
		<td class="name">Locks Heath</td>
		<td class="number">309</td>
	
</tr>
	
<tr>
		
<td class="number">2</td>
		<td class="name">A Shepherd</td>
		<td class="name">Waterlooville</td>
		<td class="number">222</td>
	
</tr>
	
<tr>
		
<td class="number">3</td>
		<td class="name">T Robson</td>
		<td class="name">Waterlooville</td>
		<td class="number">201</td>
	
</tr>
	
<tr>
		
<td class="number"></td>
		<td class="name">J Burnett</td>
		<td class="name">Waterlooville</td>
		<td class="number">201</td>
	
</tr>
	
<tr>
		
<td class="number">5</td>
		<td class="name">B Smith</td>
		<td class="name">Locks Heath</td>
		<td class="number">189</td>
	
</tr>
	
<tr>
		
<td class="number">6</td>
		<td class="name">A Dean</td>
		<td class="name">Purbrook</td>
		<td class="number">175</td>
	
</tr>
	
<tr>
		
<td class="number">7</td>
		<td class="name">J Hudson</td>
		<td class="name">Waterlooville</td>
		<td class="number">167</td>
	
</tr>
	
<tr>
		
<td class="number">8</td>
		<td class="name">B Pay</td>
		<td class="name">Purbrook</td>
		<td class="number">165</td>
	
</tr>
	
<tr>
		
<td class="number">9</td>
		<td class="name">C Hardaker</td>
		<td class="name">Havant</td>
		<td class="number">158</td>
	
</tr>
	
<tr>
		
<td class="number">10</td>
		<td class="name">J Pilgrim</td>
		<td class="name">Locks Heath</td>
		<td class="number">153</td>
	
</tr>
	
<tr>
		
<td class="number">11</td>
		<td class="name">L Gould</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td class="number">133</td>
	
</tr>
	
<tr>
		
<td class="number">12</td>
		<td class="name">C Wheeler</td>
		<td class="name">Hambledon</td>
		<td class="number">128</td>
	
</tr>
	
<tr>
		
<td class="number">13</td>
		<td class="name">G Wylde</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td class="number">115</td>
	
</tr>
	
<tr>
		
<td class="number">14</td>
		<td class="name">Katherine Hudson</td>
		<td class="name">Portsmouth Community</td>
		<td class="number">113</td>
	
</tr>
	
<tr>
		
<td class="number">15</td>
		<td class="name">P Hopson</td>
		<td class="name">Havant</td>
		<td class="number">108</td>
	
</tr>
	
<tr>
		
<td class="number">16</td>
		<td class="name">D Berry</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td class="number">106</td>
	
</tr>
	
<tr>
		
<td class="number"></td>
		<td class="name">D Knott</td>
		<td class="name">Locks Heath</td>
		<td class="number">106</td>
	
</tr>
	
<tr>
		
<td class="number">18</td>
		<td class="name">Mat Smith</td>
		<td class="name">Portsmouth &amp; Southsea</td>
		<td class="number">105</td>
	
</tr>
	
<tr>
		
<td class="number">19</td>
		<td class="name">T Cannell</td>
		<td class="name">United Services</td>
		<td class="number">102</td>
	
</tr>
	
<tr>
		
<td class="number">20</td>
		<td class="name">N Hodgson</td>
		<td class="name">Havant</td>
		<td class="number">100</td>
	
</tr>
	
<tr>
		
<td class="number">21</td>
		<td class="name">O Alsford</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td class="number">99</td>
	
</tr>
	
<tr>
		
<td class="number"></td>
		<td class="name">T DeMellow</td>
		<td class="name">Hambledon</td>
		<td class="number">99</td>
	
</tr>
	
<tr>
		
<td class="number">23</td>
		<td class="name">A Copeman</td>
		<td class="name">Locks Heath</td>
		<td class="number">91</td>
	
</tr>
	
<tr>
		
<td class="number">24</td>
		<td class="name">S Hillman</td>
		<td class="name">Waterlooville</td>
		<td class="number">88</td>
	
</tr>
	
<tr>
		
<td class="number"></td>
		<td class="name">M Pastellas</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td class="number">88</td>
	
</tr>
	
<tr>
		
<td class="number">26</td>
		<td class="name">Carl Marsh</td>
		<td class="name">Purbrook</td>
		<td class="number">87</td>
	
</tr>
	
<tr>
		
<td class="number">27</td>
		<td class="name">M Cook</td>
		<td class="name">Waterlooville</td>
		<td class="number">82</td>
	
</tr>
	
<tr>
		
<td class="number">28</td>
		<td class="name">O Chapman</td>
		<td class="name">Hambledon</td>
		<td class="number">80</td>
	
</tr>
	
<tr>
		
<td class="number">29</td>
		<td class="name">J Quade</td>
		<td class="name">Portsmouth Community</td>
		<td class="number">77</td>
	
</tr>
	
<tr>
		
<td class="number">30</td>
		<td class="name">C Virk</td>
		<td class="name">Havant</td>
		<td class="number">72</td>
	
</tr>

</tbody>
</table>
</div>
