<div id="bowlav">
<h1>Colts Under-13 Bowling: Season 2004-05</h1>
<table class="number">
	
<thead>
		
<tr>
			
<th class="number"></th>
			<th class="name">Bowler's Name</th>
			<th class="name">Club</th>
			<th class="number">Total Wkts</th>
			<th class="number">Runs per Over</th>
		
</tr>
	
</thead>
	
<tbody>
<tr>
		
<td class="number">1</td>
		<td class="name">S Knott</td>
		<td class="name">Locks Heath</td>
		<td>7</td>
		<td>6.85</td>
	
</tr>
	
<tr>
		
<td class="number">2</td>
		<td class="name">T Larner</td>
		<td class="name">Gosport Borough</td>
		<td>6</td>
		<td>7.45</td>
	
</tr>
	
<tr>
		
<td class="number">3</td>
		<td class="name">T Lutchford</td>
		<td class="name">Locks Heath</td>
		<td>5</td>
		<td>6.89</td>
	
</tr>
	
<tr>
		
<td class="number">4</td>
		<td class="name">R Prakash</td>
		<td class="name">Havant</td>
		<td>5</td>
		<td>6.95</td>
	
</tr>
	
<tr>
		
<td class="number">5</td>
		<td class="name">J White</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td>5</td>
		<td>7.83</td>
	
</tr>
	
<tr>
		
<td class="number">6</td>
		<td class="name">Craig Marsh</td>
		<td class="name">Purbrook</td>
		<td>4</td>
		<td>7.35</td>
	
</tr>
	
<tr>
		
<td class="number">7</td>
		<td class="name">M Walker</td>
		<td class="name">Locks Heath</td>
		<td>4</td>
		<td>7.84</td>
	
</tr>
	
<tr>
		
<td class="number">8</td>
		<td class="name">E Schulman</td>
		<td class="name">Gosport Borough</td>
		<td>4</td>
		<td>8.00</td>
	
</tr>
	
<tr>
		
<td class="number">9</td>
		<td class="name">R Smith</td>
		<td class="name">Havant</td>
		<td>4</td>
		<td>8.40</td>
	
</tr>
	
<tr>
		
<td class="number">10</td>
		<td class="name">A Fisher</td>
		<td class="name">United Services</td>
		<td>4</td>
		<td>9.68</td>
	
</tr>
	
<tr>
		
<td class="number">11</td>
		<td class="name">T Lewis</td>
		<td class="name">United Services</td>
		<td>3</td>
		<td>6.33</td>
	
</tr>
	
<tr>
		
<td class="number">12</td>
		<td class="name">P Hicks</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td>3</td>
		<td>6.95</td>
	
</tr>
	
<tr>
		
<td class="number">13</td>
		<td class="name">J Hughes</td>
		<td class="name">Havant</td>
		<td>3</td>
		<td>7.00</td>
	
</tr>
	
<tr>
		
<td class="number">14</td>
		<td class="name">J Miles</td>
		<td class="name">Purbrook</td>
		<td>3</td>
		<td>7.07</td>
	
</tr>
	
<tr>
		
<td class="number">15</td>
		<td class="name">J Rimmer</td>
		<td class="name">Purbrook</td>
		<td>3</td>
		<td>7.94</td>
	
</tr>
	
<tr>
		
<td class="number">16</td>
		<td class="name">L Jones</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td>3</td>
		<td>8.02</td>
	
</tr>
	
<tr>
		
<td class="number">17</td>
		<td class="name">B Erridge</td>
		<td class="name">Gosport Borough</td>
		<td>3</td>
		<td>8.06</td>
	
</tr>
	
<tr>
		
<td class="number">18</td>
		<td class="name">T Dickinson</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td>3</td>
		<td>10.00</td>
	
</tr>
	
<tr>
		
<td class="number">19</td>
		<td class="name">A Ransley</td>
		<td class="name">Havant</td>
		<td>3</td>
		<td>11.30</td>
	
</tr>
	
<tr>
		
<td class="number">20</td>
		<td class="name">A Patel</td>
		<td class="name">United Services</td>
		<td>2</td>
		<td>7.33</td>
	
</tr>
	
<tr>
		
<td class="number">21</td>
		<td class="name">J Dine</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td>2</td>
		<td>7.50</td>
	
</tr>
	
<tr>
		
<td class="number">22</td>
		<td class="name">J Reed</td>
		<td class="name">Havant</td>
		<td>2</td>
		<td>7.52</td>
	
</tr>
	
<tr>
		
<td class="number">23</td>
		<td class="name">R Chatwood</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td>2</td>
		<td>7.67</td>
	
</tr>
	
<tr>
		
<td class="number">24</td>
		<td class="name">R Hurt</td>
		<td class="name">Waterlooville</td>
		<td>2</td>
		<td>7.70</td>
	
</tr>
	
<tr>
		
<td class="number">25</td>
		<td class="name">T Ellis</td>
		<td class="name">Sarisbury Athletic</td>
		<td>2</td>
		<td>8.17</td>
	
</tr>
	
<tr>
		
<td class="number">26</td>
		<td class="name">R Way</td>
		<td class="name">Waterlooville</td>
		<td>2</td>
		<td>8.26</td>
	
</tr>
	
<tr>
		
<td class="number">27</td>
		<td class="name">J Paskins</td>
		<td class="name">Waterlooville</td>
		<td>2</td>
		<td>8.47</td>
	
</tr>
	
<tr>
		
<td class="number">28</td>
		<td class="name">R Peters</td>
		<td class="name">Gosport Borough</td>
		<td>2</td>
		<td>9.00</td>
	
</tr>
	
<tr>
		
<td class="number">29</td>
		<td class="name">T Vetcher</td>
		<td class="name">Waterlooville</td>
		<td>2</td>
		<td>9.75</td>
	
</tr>
	
<tr>
		
<td class="number">30</td>
		<td class="name">S Offord</td>
		<td class="name">Havant</td>
		<td>2</td>
		<td>10.12</td>
	
</tr>

</tbody>
</table>
</div>
