<div id="table">
<h1>Colts Under-13: Season 2004-05</h1>
<table>

<thead>
	
<tr>
		
<th class="number"></th>
		<th class="teamname"></th>
		<th class="key"></th>
		<th class="number">P</th>
		<th class="number">W</th>
		<th class="number">T</th>
		<th class="number">L</th>
		<th class="number">BAT</th>
		<th class="number">BOWL</th>
		<th class="number">RUN RATE</th>
		<th class="number">TOTAL</th>
	
</tr>

</thead>
	
<tr>
		
<td class="number">1</td>
		<td class="teamname champions">Fareham &amp; Crofton</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">8</td>
		<td class="number">0</td>
		<td class="number">0</td>
		<td class="number">44</td>
		<td class="number">34</td>
		<td class="number">11.00</td>
		<td class="number">174</td>
	
</tr>

	
<tr>
		
<td class="number">2</td>
		<td class="teamname">Locks Heath</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">6</td>
		<td class="number">0</td>
		<td class="number">2</td>
		<td class="number">37</td>
		<td class="number">35</td>
		<td class="number">9.08</td>
		<td class="number">144</td>
	
</tr>

	
<tr>
		
<td class="number">3</td>
		<td class="teamname">Havant</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">5</td>
		<td class="number">0</td>
		<td class="number">3</td>
		<td class="number">37</td>
		<td class="number">30</td>
		<td class="number">11.28</td>
		<td class="number">127</td>
	
</tr>

	
<tr>
		
<td class="number">4</td>
		<td class="teamname">United Services</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">5</td>
		<td class="number">0</td>
		<td class="number">3</td>
		<td class="number">35</td>
		<td class="number">24</td>
		<td class="number">10.61</td>
		<td class="number">119</td>
	
</tr>

	
<tr>
		
<td class="number">5</td>
		<td class="teamname">Purbrook</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">4</td>
		<td class="number">0</td>
		<td class="number">4</td>
		<td class="number">37</td>
		<td class="number">25</td>
		<td class="number">8.57</td>
		<td class="number">111</td>
	
</tr>

	
<tr>
		
<td class="number">6</td>
		<td class="teamname">Gosport Borough</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">4</td>
		<td class="number">0</td>
		<td class="number">4</td>
		<td class="number">31</td>
		<td class="number">25</td>
		<td class="number">8.54</td>
		<td class="number">104</td>
	
</tr>

	
<tr>
		
<td class="number">7</td>
		<td class="teamname">Waterlooville</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">3</td>
		<td class="number">0</td>
		<td class="number">5</td>
		<td class="number">27</td>
		<td class="number">19</td>
		<td class="number">8.23</td>
		<td class="number">82</td>
	
</tr>

	
<tr>
		
<td class="number">8</td>
		<td class="teamname">Sarisbury Athletic</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">1</td>
		<td class="number">0</td>
		<td class="number">7</td>
		<td class="number">17</td>
		<td class="number">11</td>
		<td class="number">7.47</td>
		<td class="number">40</td>
	
</tr>

	
<tr>
		
<td class="number">9</td>
		<td class="teamname">Portsmouth</td>
		<td class="key">L</td>
		<td class="number">8</td>
		<td class="number">0</td>
		<td class="number">0</td>
		<td class="number">8</td>
		<td class="number">7</td>
		<td class="number">12</td>
		<td class="number">6.38</td>
		<td class="number">15</td>
	
</tr>


</table>
<br>
<table>
	
<tr>
		
<th>KEY</th>
		<th> </th>
	
</tr>

	
<tr>
		
<td class="key">L</td>
		<td>Late payment of fine - 4 points deducted</td>
	
</tr>


</table>
</div>
