<div id="bowlav">
<h1>Colts Under-16 Bowling: Season 2004-05</h1>
<table>
	
<thead>
		
<tr>
			
<th class="number"></th>
			<th class="name">Bowler's Name</th>
			<th class="name">Club</th>
			<th class="number">Total Wkts</th>
			<th class="number">Runs per Over</th>
		
</tr>
	
</thead>
	
<tbody>
<tr>
		
<td class="number">1</td>
		<td class="name">S Matthews</td>
		<td class="name">Purbrook</td>
		<td class="number">9</td>
		<td class="number">10.61</td>
	
</tr>
	
<tr>
		
<td class="number">2</td>
		<td class="name">L Gould</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td class="number">8</td>
		<td class="number">6.33</td>
	
</tr>
	
<tr>
		
<td class="number">3</td>
		<td class="name">J Burnett</td>
		<td class="name">Waterlooville</td>
		<td class="number">7</td>
		<td class="number">5.41</td>
	
</tr>
	
<tr>
		
<td class="number">4</td>
		<td class="name">J Hudson</td>
		<td class="name">Waterlooville</td>
		<td class="number">7</td>
		<td class="number">6.58</td>
	
</tr>
	
<tr>
		
<td class="number">5</td>
		<td class="name">O Adams</td>
		<td class="name">Locks Heath</td>
		<td class="number">7</td>
		<td class="number">9.59</td>
	
</tr>
	
<tr>
		
<td class="number">6</td>
		<td class="name">R Basketter</td>
		<td class="name">Portsmouth Community</td>
		<td class="number">7</td>
		<td class="number">10.29</td>
	
</tr>
	
<tr>
		
<td class="number">7</td>
		<td class="name">T Mould</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td class="number">6</td>
		<td class="number">9.33</td>
	
</tr>
	
<tr>
		
<td class="number">8</td>
		<td class="name">Mike Smith</td>
		<td class="name">Portsmouth &amp; Southsea</td>
		<td class="number">6</td>
		<td class="number">11.73</td>
	
</tr>
	
<tr>
		
<td class="number">9</td>
		<td class="name">M Cook</td>
		<td class="name">Waterlooville</td>
		<td class="number">5</td>
		<td class="number">6.55</td>
	
</tr>
	
<tr>
		
<td class="number">10</td>
		<td class="name">R Tanner</td>
		<td class="name">Portsmouth &amp; Southsea</td>
		<td class="number">5</td>
		<td class="number">10.68</td>
	
</tr>
	
<tr>
		
<td class="number">11</td>
		<td class="name">Craig Marsh</td>
		<td class="name">Purbrook</td>
		<td class="number">5</td>
		<td class="number">11.21</td>
	
</tr>
	
<tr>
		
<td class="number">12</td>
		<td class="name">C Hardaker</td>
		<td class="name">Havant</td>
		<td class="number">5</td>
		<td class="number">11.77</td>
	
</tr>
	
<tr>
		
<td class="number">13</td>
		<td class="name">Katherine Hudson</td>
		<td class="name">Portsmouth Community</td>
		<td class="number">5</td>
		<td class="number">12.60</td>
	
</tr>
	
<tr>
		
<td class="number">14</td>
		<td class="name">S Hillman</td>
		<td class="name">Waterlooville</td>
		<td class="number">4</td>
		<td class="number">6.54</td>
	
</tr>
	
<tr>
		
<td class="number">15</td>
		<td class="name">C Wheeler</td>
		<td class="name">Hambledon</td>
		<td class="number">4</td>
		<td class="number">6.75</td>
	
</tr>
	
<tr>
		
<td class="number">16</td>
		<td class="name">T DeMellow</td>
		<td class="name">Hambledon</td>
		<td class="number">3</td>
		<td class="number">6.87</td>
	
</tr>
	
<tr>
		
<td class="number">17</td>
		<td class="name">O Alsford</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td class="number">3</td>
		<td class="number">8.73</td>
	
</tr>
	
<tr>
		
<td class="number">18</td>
		<td class="name">N Hodgson</td>
		<td class="name">Havant</td>
		<td class="number">3</td>
		<td class="number">9.07</td>
	
</tr>
	
<tr>
		
<td class="number">19</td>
		<td class="name">A Copeman</td>
		<td class="name">Locks Heath</td>
		<td class="number">3</td>
		<td class="number">9.27</td>
	
</tr>
	
<tr>
		
<td class="number">20</td>
		<td class="name">M Pastellas</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td class="number">3</td>
		<td class="number">9.43</td>
	
</tr>
	
<tr>
		
<td class="number">21</td>
		<td class="name">T Bullen</td>
		<td class="name">Portsmouth &amp; Southsea</td>
		<td class="number">3</td>
		<td class="number">9.50</td>
	
</tr>
	
<tr>
		
<td class="number">22</td>
		<td class="name">C Virk</td>
		<td class="name">Havant</td>
		<td class="number">3</td>
		<td class="number">10.00</td>
	
</tr>
	
<tr>
		
<td class="number">23</td>
		<td class="name">J Hill</td>
		<td class="name">Locks Heath</td>
		<td class="number">3</td>
		<td class="number">10.78</td>
	
</tr>
	
<tr>
		
<td class="number">24</td>
		<td class="name">D Bullen</td>
		<td class="name">Portsmouth &amp; Southsea</td>
		<td class="number">3</td>
		<td class="number">11.44</td>
	
</tr>
	
<tr>
		
<td class="number">25</td>
		<td class="name">J Quade</td>
		<td class="name">Portsmouth Community</td>
		<td class="number">3</td>
		<td class="number">14.44</td>
	
</tr>
	
<tr>
		
<td class="number">26</td>
		<td class="name">O Chapman</td>
		<td class="name">Hambledon</td>
		<td class="number">2</td>
		<td class="number">9.23</td>
	
</tr>
	
<tr>
		
<td class="number">27</td>
		<td class="name">B Pay</td>
		<td class="name">Purbrook</td>
		<td class="number">2</td>
		<td class="number">9.62</td>
	
</tr>
	
<tr>
		
<td class="number">28</td>
		<td class="name">A Winfield</td>
		<td class="name">United Services</td>
		<td class="number">2</td>
		<td class="number">9.86</td>
	
</tr>
	
<tr>
		
<td class="number">29</td>
		<td class="name">A Youngs</td>
		<td class="name">United Services</td>
		<td class="number">2</td>
		<td class="number">10.98</td>
	
</tr>
	
<tr>
		
<td class="number">30</td>
		<td class="name">Sibu</td>
		<td class="name">United Services</td>
		<td class="number">2</td>
		<td class="number">11.18</td>
	
</tr>

</tbody>
</table>
</div>
