<div id="table">
<h1>Colts Under-16: Season 2004-05</h1>
<table>

<thead>
	
<tr>
		
<th class="number"></th>
		<th class="teamname"></th>
		<th class="key"></th>
		<th class="number">P</th>
		<th class="number">W</th>
		<th class="number">T</th>
		<th class="number">L</th>
		<th class="number">BAT</th>
		<th class="number">BOWL</th>
		<th class="number">RUN RATE</th>
		<th class="number">TOTAL</th>
	
</tr>

</thead>
	
<tr>
		
<td class="number">1</td>
		<td class="teamname champions">
<p>Waterlooville</p>
</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">8</td>
		<td class="number">0</td>
		<td class="number">0</td>
		<td class="number">48</td>
		<td class="number">40</td>
		<td class="number">14.39</td>
		<td class="number">184</td>
	
</tr>

	
<tr>
		
<td class="number">2</td>
		<td class="teamname">
<p>Fareham &amp; Crofton</p>
</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">7</td>
		<td class="number">0</td>
		<td class="number">1</td>
		<td class="number">43</td>
		<td class="number">34</td>
		<td class="number">11.55</td>
		<td class="number">161</td>
	
</tr>

	
<tr>
		
<td class="number">3</td>
		<td class="teamname">
<p>Locks Heath</p>
</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">6</td>
		<td class="number">0</td>
		<td class="number">2</td>
		<td class="number">47</td>
		<td class="number">30</td>
		<td class="number">13.45</td>
		<td class="number">149</td>
	
</tr>

	
<tr>
		
<td class="number">4</td>
		<td class="teamname">
<p>Hambledon</p>
</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">5</td>
		<td class="number">0</td>
		<td class="number">3</td>
		<td class="number">29</td>
		<td class="number">20</td>
		<td class="number">8.47</td>
		<td class="number">109</td>
	
</tr>

	
<tr>
		
<td class="number">5</td>
		<td class="teamname">
<p>Havant</p>
</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">3</td>
		<td class="number">1</td>
		<td class="number">4</td>
		<td class="number">36</td>
		<td class="number">26</td>
		<td class="number">9.95</td>
		<td class="number">104</td>
	
</tr>

	
<tr>
		
<td class="number">6</td>
		<td class="teamname">
<p>Portsmouth Community</p>
</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">2</td>
		<td class="number">1</td>
		<td class="number">5</td>
		<td class="number">34</td>
		<td class="number">28</td>
		<td class="number">9.17</td>
		<td class="number">92</td>
	
</tr>

	
<tr>
		
<td class="number">7</td>
		<td class="teamname">
<p>Purbrook</p>
</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">2</td>
		<td class="number">0</td>
		<td class="number">6</td>
		<td class="number">33</td>
		<td class="number">30</td>
		<td class="number">9.23</td>
		<td class="number">87</td>
	
</tr>

	
<tr>
		
<td class="number">8</td>
		<td class="teamname">
<p>United Services</p>
</td>
		<td class="key">$</td>
		<td class="number">8</td>
		<td class="number">2</td>
		<td class="number">0</td>
		<td class="number">6</td>
		<td class="number">27</td>
		<td class="number">21</td>
		<td class="number">8.74</td>
		<td class="number">68</td>
	
</tr>

	
<tr>
		
<td class="number">9</td>
		<td class="teamname">
<p>Portsmouth &amp; Southsea</p>
</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">0</td>
		<td class="number">0</td>
		<td class="number">8</td>
		<td class="number">20</td>
		<td class="number">27</td>
		<td class="number">7.48</td>
		<td class="number">47</td>
	
</tr>


</table>
<br>
<table>
	
<tr>
		
<th class="number">KEY</th>
		<td> </td>
	
</tr>

	
<tr>
		
<td class="key">$</td>
		<td>Late start - 4 points deducted</td>
	
</tr>


</table>
</div>
