<div id="table">
<h1>Division 1: Season 2004-05</h1>
<table>

<thead>
	
<tr>
		
<th class="number"></th>
		<th class="teamname"></th>
		<th class="key"></th>
		<th class="number">P</th>
		<th class="number">W</th>
		<th class="number">T</th>
		<th class="number">L</th>
		<th class="number">BAT</th>
		<th class="number">BOWL</th>
		<th class="number">RUN RATE</th>
		<th class="number">TOTAL</th>
	
</tr>

</thead>
	
<tr>
		
<td class="number">1</td>
		<td class="teamname champions">Havant A</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">9</td>
		<td class="number">0</td>
		<td class="number">0</td>
		<td class="number">50</td>
		<td class="number">53</td>
		<td class="number">10.68</td>
		<td class="number">211</td>
	
</tr>

	
<tr>
		
<td class="number">2</td>
		<td class="teamname">Sarisbury Athletic A</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">7</td>
		<td class="number">0</td>
		<td class="number">2</td>
		<td class="number">43</td>
		<td class="number">46</td>
		<td class="number">11.21</td>
		<td class="number">173</td>
	
</tr>

	
<tr>
		
<td class="number">3</td>
		<td class="teamname">Portsmouth &amp; Southsea B</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">5</td>
		<td class="number">0</td>
		<td class="number">4</td>
		<td class="number">51</td>
		<td class="number">39</td>
		<td class="number">9.98</td>
		<td class="number">150</td>
	
</tr>

	
<tr>
		
<td class="number">4</td>
		<td class="teamname">Portchester A</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">5</td>
		<td class="number">0</td>
		<td class="number">4</td>
		<td class="number">36</td>
		<td class="number">38</td>
		<td class="number">8.87</td>
		<td class="number">134</td>
	
</tr>

	
<tr>
		
<td class="number">5</td>
		<td class="teamname">Sarisbury Athletic B</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">4</td>
		<td class="number">0</td>
		<td class="number">5</td>
		<td class="number">38</td>
		<td class="number">39</td>
		<td class="number">9.76</td>
		<td class="number">125</td>
	
</tr>

	
<tr>
		
<td class="number">6</td>
		<td class="teamname">Portsmouth &amp; Southsea A</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">5</td>
		<td class="number">0</td>
		<td class="number">4</td>
		<td class="number">34</td>
		<td class="number">30</td>
		<td class="number">9.16</td>
		<td class="number">124</td>
	
</tr>

	
<tr>
		
<td class="number">7</td>
		<td class="teamname">Harting</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">3</td>
		<td class="number">1</td>
		<td class="number">5</td>
		<td class="number">38</td>
		<td class="number">36</td>
		<td class="number">9.40</td>
		<td class="number">116</td>
	
</tr>

	
<tr>
		
<td class="number">8</td>
		<td class="teamname">Fareham &amp; Crofton A</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">2</td>
		<td class="number">1</td>
		<td class="number">6</td>
		<td class="number">38</td>
		<td class="number">30</td>
		<td class="number">9.43</td>
		<td class="number">98</td>
	
</tr>

	
<tr>
		
<td class="number">9</td>
		<td class="teamname relegated">Corinthians</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">2</td>
		<td class="number">0</td>
		<td class="number">7</td>
		<td class="number">38</td>
		<td class="number">30</td>
		<td class="number">9.20</td>
		<td class="number">92</td>
	
</tr>

	
<tr>
		
<td class="number">10</td>
		<td class="teamname relegated">Havant B</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">2</td>
		<td class="number">0</td>
		<td class="number">7</td>
		<td class="number">36</td>
		<td class="number">30</td>
		<td class="number">9.26</td>
		<td class="number">90</td>
	
</tr>


</table>
</div>
