<div id="table">
<h1>Division 4: Season 2004-05</h1>
<table>

<thead>
	
<tr>
		
<th class="number"></th>
		<th class="teamname"></th>
		<th class="key"></th>
		<th class="number">P</th>
		<th class="number">W</th>
		<th class="number">T</th>
		<th class="number">L</th>
		<th class="number">BAT</th>
		<th class="number">BOWL</th>
		<th class="number">RUN RATE</th>
		<th class="number">TOTAL</th>
	
</tr>

</thead>
	
<tr>
		
<td class="number">1</td>
		<td class="teamname champions promoted">Rowner</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">8</td>
		<td class="number">0</td>
		<td class="number">1</td>
		<td class="number">47</td>
		<td class="number">43</td>
		<td class="number">9.48</td>
		<td class="number">186</td>
	
</tr>

	
<tr>
		
<td class="number">2</td>
		<td class="teamname promoted">Denmead A</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">7</td>
		<td class="number">0</td>
		<td class="number">2</td>
		<td class="number">46</td>
		<td class="number">50</td>
		<td class="number">10.14</td>
		<td class="number">180</td>
	
</tr>

	
<tr>
		
<td class="number">3</td>
		<td class="teamname">St. James Casuals</td>
		<td class="key">A</td>
		<td class="number">9</td>
		<td class="number">5</td>
		<td class="number">0</td>
		<td class="number">3</td>
		<td class="number">39</td>
		<td class="number">34</td>
		<td class="number">9.37</td>
		<td class="number">154</td>
	
</tr>

	
<tr>
		
<td class="number">4</td>
		<td class="teamname">Locks Heath C</td>
		<td class="key">#</td>
		<td class="number">9</td>
		<td class="number">5</td>
		<td class="number">0</td>
		<td class="number">3</td>
		<td class="number">32</td>
		<td class="number">32</td>
		<td class="number">9.79</td>
		<td class="number">150</td>
	
</tr>

	
<tr>
		
<td class="number">5</td>
		<td class="teamname">Fareham &amp; Crofton C</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">4</td>
		<td class="number">0</td>
		<td class="number">5</td>
		<td class="number">39</td>
		<td class="number">37</td>
		<td class="number">9.84</td>
		<td class="number">124</td>
	
</tr>

	
<tr>
		
<td class="number">6</td>
		<td class="teamname">IBM South Hants B</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">4</td>
		<td class="number">0</td>
		<td class="number">5</td>
		<td class="number">28</td>
		<td class="number">37</td>
		<td class="number">8.32</td>
		<td class="number">113</td>
	
</tr>

	
<tr>
		
<td class="number">7</td>
		<td class="teamname">XIIth Men</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">3</td>
		<td class="number">0</td>
		<td class="number">6</td>
		<td class="number">34</td>
		<td class="number">35</td>
		<td class="number">8.76</td>
		<td class="number">105</td>
	
</tr>

	
<tr>
		
<td class="number">8</td>
		<td class="teamname">Denmead B</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">3</td>
		<td class="number">0</td>
		<td class="number">6</td>
		<td class="number">36</td>
		<td class="number">27</td>
		<td class="number">8.87</td>
		<td class="number">99</td>
	
</tr>

	
<tr>
		
<td class="number">9</td>
		<td class="teamname">Portsmouth Community</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">2</td>
		<td class="number">0</td>
		<td class="number">7</td>
		<td class="number">29</td>
		<td class="number">34</td>
		<td class="number">8.85</td>
		<td class="number">87</td>
	
</tr>

	
<tr>
		
<td class="number">10</td>
		<td class="teamname">Bursledon</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">2</td>
		<td class="number">0</td>
		<td class="number">5</td>
		<td class="number">14</td>
		<td class="number">18</td>
		<td class="number">7.38</td>
		<td class="number">56</td>
	
</tr>


</table>
<table>
	
<tr>
		
<th class="number">KEY</th>
		<td></td>
	
</tr>

	
<tr>
		
<td class="key">A</td>
		<td>Game awarded - opposition insufficient numbers - 21 points awarded</td>
	
</tr>

	
<tr>
		
<td class="key">#</td>
		<td>Non arrival of opposition - 21 points awarded</td>
	
</tr>

</table>
</div>
