<div id="table">
<h1>Division 3: Season 2004-05</h1>
<table>

<thead>
	
<tr>
		
<th class="number"></th>
		<th class="teamname"></th>
		<th class="key"></th>
		<th class="number">P</th>
		<th class="number">W</th>
		<th class="number">T</th>
		<th class="number">L</th>
		<th class="number">BAT</th>
		<th class="number">BOWL</th>
		<th class="number">RUN RATE</th>
		<th class="number">TOTAL</th>
	
</tr>

</thead>
	
<tr>
		
<td class="number">1</td>
		<td class="teamname champions promoted">Waterlooville</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">7</td>
		<td class="number">0</td>
		<td class="number">1</td>
		<td class="number">42</td>
		<td class="number">43</td>
		<td class="number">9.85</td>
		<td class="number">169</td>
	
</tr>

	
<tr>
		
<td class="number">2</td>
		<td class="teamname promoted">IBM South Hants A</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">6</td>
		<td class="number">0</td>
		<td class="number">2</td>
		<td class="number">39</td>
		<td class="number">37</td>
		<td class="number">9.81</td>
		<td class="number">148</td>
	
</tr>

	
<tr>
		
<td class="number">3</td>
		<td class="teamname">Curdridge</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">6</td>
		<td class="number">0</td>
		<td class="number">2</td>
		<td class="number">42</td>
		<td class="number">27</td>
		<td class="number">10.41</td>
		<td class="number">141</td>
	
</tr>

	
<tr>
		
<td class="number">4</td>
		<td class="teamname">Cowplain</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">5</td>
		<td class="number">0</td>
		<td class="number">3</td>
		<td class="number">35</td>
		<td class="number">40</td>
		<td class="number">8.50</td>
		<td class="number">135</td>
	
</tr>

	
<tr>
		
<td class="number">5</td>
		<td class="teamname">Locks Heath B</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">3</td>
		<td class="number">0</td>
		<td class="number">5</td>
		<td class="number">40</td>
		<td class="number">35</td>
		<td class="number">10.54</td>
		<td class="number">111</td>
	
</tr>

	
<tr>
		
<td class="number">6</td>
		<td class="teamname">Old Hambledonians</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">4</td>
		<td class="number">0</td>
		<td class="number">4</td>
		<td class="number">28</td>
		<td class="number">35</td>
		<td class="number">8.82</td>
		<td class="number">111</td>
	
</tr>

	
<tr>
		
<td class="number">7</td>
		<td class="teamname">Hambledon</td>
		<td class="key">L</td>
		<td class="number">8</td>
		<td class="number">3</td>
		<td class="number">0</td>
		<td class="number">5</td>
		<td class="number">38</td>
		<td class="number">37</td>
		<td class="number">9.85</td>
		<td class="number">107</td>
	
</tr>

	
<tr>
		
<td class="number">8</td>
		<td class="teamname">DOE Cavaliers</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">2</td>
		<td class="number">0</td>
		<td class="number">6</td>
		<td class="number">34</td>
		<td class="number">28</td>
		<td class="number">8.96</td>
		<td class="number">86</td>
	
</tr>

	
<tr>
		
<td class="number">9</td>
		<td class="teamname relegated">Portsmouth &amp; Southsea C</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">0</td>
		<td class="number">0</td>
		<td class="number">8</td>
		<td class="number">19</td>
		<td class="number">26</td>
		<td class="number">8.21</td>
		<td class="number">45</td>
	
</tr>


</table>
<table>
	
<tr>
		
<th class="number">NOTE</th>
		<td> </td>
	
</tr>

	
<tr>
		
<td> </td>
		<td>Portsmouth B have withdrawn from the League.</td>
	
</tr>

</table>
<table>
	
<tr>
		
<th class="number">KEY</th>
		<td> </td>
	
</tr>

	
<tr>
		
<td class="key">L</td>
		<td>Late payment of fine - 4 points deducted</td>
	
</tr>


</table>
</div>
