<div id="presentation">
	<h1>Presentation Evening</h1>
	<p>The Presentation Evening for the 2007/08 season was held at
		Fareham Leisure Centre on Saturday 29th March.</p>
	<h2>Colts</h2>
	<h3>Exhibition games</h3>
	<table id="reslist">

		<tr>

			<td colspan="2" class="division">Under-13</td>

		</tr>

		<tr>

			<td class="teamscore">Under-13 Select VI 116 for 3</td>
			<td class="teamscore">Fareham &amp; Crofton 113 all out</td>

		</tr>

		<tr>

			<td class="highlights"><span class="nolinewrap">B Mengham
					23</span></td>
			<td class="highlights"><span class="nolinewrap">T Kent
					33,</span> <span class="nolinewrap">B Mengham 2/14,</span> <span
				class="nolinewrap">J Christian 2/21</span></td>

		</tr>

		<tr>

			<td class="result" colspan="2">Under-13 Select VI won by 3 runs</td>

		</tr>

		<tr>

			<td colspan="2" class="division">Under-16</td>

		</tr>

		<tr>

			<td colspan="2">Due to an administrative oversight, no Under-16
				Select VI was available to play Portsmouth &amp; Southsea. We
				apologise for this to the Portsmouth &amp; Southsea players, coaches
				and parents.</td>

		</tr>

	</table>
	<h3>Presentation of awards</h3>
	<p>The Colts awards were presented by Rebecca from Game Set &amp;
		Match.</p>
	<dl>

		<dt>Peter Faulkner Shield (Under-16 Champions)</dt>

		<dd>
			<img border="0" src="/graphics/presentation2008/P3290030.JPG"
				width="347" height="317"
				alt="Portsmouth &amp; Southsea - Under-16 Champions"><br>Portsmouth
			&amp; Southsea
		</dd>

		<dt>Ron Cross MBE Trophy (Under-13 Champions)</dt>

		<dd>
			<img border="0" src="/graphics/presentation2008/P3290025.JPG"
				width="484" height="356"
				alt="Fareham &amp; Crofton - Under-13 Champions"><br>
			Fareham &amp; Crofton
		</dd>

		<dt>Michael Austin Harlick Under-16 Batting Award</dt>

		<dd>
			<img border="0" src="/graphics/presentation2008/P3290032.JPG"
				width="301" height="408"
				alt="Simon Loat (Havant) - Under-16 leading run-scorer"><br>
			Simon Loat (Havant)
		</dd>

		<dt>
			Michael Austin Harlick Under-16 Bowling Award <i>(and a Game Set
				and Match gift voucher as the leading Colts wicket-taker)</i>
		</dt>

		<dd>
			George Chapman (Portsmouth &amp; Southsea) <br> <span
				style="font-weight: normal; font-style: italic;">No picture
				as the winner was not available to collect his award in person.</span>
		</dd>

		<dt>
			Michael Austin Harlick Under-13 Batting Award <i>(and a Game Set
				and Match gift voucher as the leading Colts run-scorer)</i>
		</dt>

		<dd>
			<img border="0" src="/graphics/presentation2008/P3290027.JPG"
				width="391" height="365"
				alt="Bradley Mengham (Purbrook) - Under-13 leading run-scorer"><br>
			Bradley Mengham (Purbrook)
		</dd>

		<dt>Michael Austin Harlick Under-13 Bowling Award</dt>

		<dd>
			<img border="0" src="/graphics/presentation2008/P3290028.JPG"
				width="245" height="343"
				alt="James Christian (Purbrook) - Under-13 leading wicket-taker"><br>
			James Christian (Purbrook)
		</dd>

		<dt>Roy Jones Award (Colts Sporting and Efficiency Trophy)</dt>

		<dd>
			<img border="0" src="/graphics/presentation2008/P3290022.JPG"
				width="446" height="326"
				alt="Portsmouth Under-13s - Colts Sporting and Efficiency Trophy winners"><br>
			Portsmouth Under-13s
		</dd>

	</dl>
	<h2>Senior</h2>
	<h3>Exhibition games</h3>
	<table id="reslist">

		<tr>

			<td colspan="2" class="division">Division 2 Champions v Division
				3 Champions</td>

		</tr>

		<tr>

			<td class="teamscore">Hambledon 88 all out</td>
			<td class="teamscore">Fareham &amp; Crofton B 89/3</td>

		</tr>

		<tr>

			<td class="highlights"><span class="nolinewrap">D Reader
					3/9</span></td>
			<td class="highlights"></td>

		</tr>

		<tr>

			<td class="result" colspan="2">Fareham &amp; Crofton B won by 3
				wickets</td>

		</tr>

		<tr>

			<td colspan="2" class="division">Division 4 Champions v
				Committee/Umpires VI</td>

		</tr>

		<tr>

			<td class="teamscore">Hampshire Bowman 105 for 5</td>
			<td class="teamscore">Committee/Umpires VI 47 all out</td>

		</tr>

		<tr>

			<td class="highlights"><span class="nolinewrap">M Smith
					26,</span> <span class="nolinewrap">A Smith 23,</span> <span
				class="nolinewrap">P Hicks 2/22</span></td>
			<td class="highlights"></td>

		</tr>

		<tr>

			<td class="result" colspan="2">Hampshire Bowman won by 58 runs</td>

		</tr>

		<tr>

			<td colspan="2" class="division">The Mayor of Fareham's VIII v
				Division 1 Champions' VIII</td>

		</tr>

		<tr>

			<td class="teamscore">Havant A VIII 116 for 6</td>
			<td class="teamscore">The Mayor of Fareham's VIII 92 all out</td>

		</tr>

		<tr>

			<td class="highlights"><span class="nolinewrap">F
					Hoolahan 37*,</span> <span class="nolinewrap">L Gould 2/25,</span> <span
				class="nolinewrap">R Marston 2/31</span></td>
			<td class="highlights"><span class="nolinewrap">R
					Marshall 22</span></td>

		</tr>

		<tr>

			<td class="result" colspan="2">Havant A VIII won by 24 runs</td>

		</tr>

	</table>
	<h3>Presentation of awards</h3>
	<p>The Senior awards were presented by Cllr Mrs Katrina Trott,
		Mayor of Fareham.</p>
	<dl>

		<dt>Peter Faulkner Shield (Division 1 Champions)</dt>

		<dd>
			<img border="0" src="/graphics/presentation2008/P3290041.JPG"
				width="541" height="330" alt="Havant A - Division 1 Champions"><br>
			Havant A
		</dd>

		<dt>Barretts Shield (Division 2 Champions)</dt>

		<dd>
			<img border="0" src="/graphics/presentation2008/P3290039.JPG"
				width="464" height="359" alt="Hambledon - Division 2 Champions"><br>
			Hambledon
		</dd>

		<dt>Ferguson Shield (Division 3 Champions)</dt>

		<dd>
			<img border="0" src="/graphics/presentation2008/P3290038.JPG"
				width="405" height="349"
				alt="Fareham &amp; Crofton B - Division 3 Champions"><br>
			Fareham &amp; Crofton B
		</dd>

		<dt>Joan Vause Shield (Division 4 Champions)</dt>

		<dd>
			<img border="0" src="/graphics/presentation2008/P3290037.JPG"
				width="445" height="358"
				alt="Hampshire Bowman - Division 4 Champions"><br>
			Hampshire Bowman
		</dd>

		<dt>
			A.R.Pay Batting Trophy <i>(and a Game Set and Match gift voucher)</i>
		</dt>

		<dd>
			<img border="0" src="/graphics/presentation2008/P3290036.JPG"
				width="277" height="437"
				alt="Richard Marshall (Hambledon) - Senior leading run-scorer"><br>
			Richard Marshall (Hambledon)
		</dd>

		<dt>
			Tony Dunster Memorial Bowling Cup <i>(and a Game Set and Match
				gift voucher)</i>
		</dt>

		<dd>
			Nigel Halliday (Denmead)<br> <span
				style="font-weight: normal; font-style: italic">No picture as
				the winner was not available to collect his award in person.</span>
		</dd>

		<dt>Alastair MacDonald Award (Senior Sporting and Efficiency
			Trophy)</dt>

		<dd>
			<img border="0" src="/graphics/presentation2008/P3290033.JPG"
				width="360" height="413"
				alt="Havant A - Senior Sporting and Efficiency Trophy winners"><br>
			Havant A
		</dd>

	</dl>
</div>
