<div id="presentation">
<h1>Presentation Evening</h1>
<p>The Presentation Evening for the 2008/09 season was held at
Fareham Leisure Centre on Saturday 4th April.</p>
<h2>Colts</h2>
<h3>Exhibition games</h3>
<table id="reslist">
	
<tr>
		
<td colspan="2" class="division">Under-13</td>
	
</tr>
	
<tr>
		
<td class="teamscore">Portsmouth 111 for 5 (12 ov)</td>
		<td class="teamscore">Under-13 Select VI 98 for 2 (12 ov)</td>
	
</tr>
	
<tr>
		
<td class="highlights"><span class="nolinewrap">J Marston
		31,</span> <span class="nolinewrap">A Marston 22*,</span> <span class="nolinewrap">W Smitherman 21,</span> <span class="nolinewrap">M
		Hindry 3/21</span></td>
		<td class="highlights"><span class="nolinewrap">S Jackson
		23*,</span> <span class="nolinewrap">L Cornish 21*,</span> <span class="nolinewrap">D Sampson 21*</span></td>
	
</tr>
	
<tr>
		
<td class="result" colspan="2">Portsmouth won by 13 runs</td>
	
</tr>
	
<tr>
		
<td colspan="2" class="division">Under-16</td>
	
</tr>
	
<tr>
		
<td class="teamscore">Under-16 Select VI 113 for 4 (12 ov)</td>
		<td class="teamscore">Portsmouth &amp; Southsea 114 for 0 (10.5
		ov)</td>
	
</tr>
	
<tr>
		
<td class="highlights"><span class="nolinewrap">J Marshall
		23</span></td>
		<td class="highlights"><span class="nolinewrap">J Peach
		28*,</span> <span class="nolinewrap">O Zee 25*</span></td>
	
</tr>
	
<tr>
		
<td class="result" colspan="2">Portsmouth &amp; Southsea won by 6
		wickets</td>
	
</tr>

</table>
<h3>Presentation of awards</h3>
<p>The Colts awards were presented by Rebecca from Game Set &amp;
Match.</p>
<dl>
	
<dt>Peter Faulkner Shield (Under-16 Champions)</dt>
	
<dd>
<img border="0" src="/graphics/presentation2009/DSCF0168.jpg" alt="Portsmouth &amp; Southsea - Under-16 Champions"><br>
	Portsmouth &amp; Southsea</dd>
	
<dt>Ron Cross MBE Trophy (Under-13 Champions)</dt>
	
<dd>
<img border="0" src="/graphics/presentation2009/DSCF0181.jpg" alt="Portsmouth - Under-13 Champions"><br>
	Portsmouth</dd>
	
<dt>Michael Austin Harlick Under-16 Batting Award</dt>
	
<dd>
<img border="0" src="/graphics/presentation2009/DSCF0171.jpg" alt="Tom Kent (Fareham &amp; Crofton) - Under-16 leading run-scorer"><br>
	Tom Kent (Fareham &amp; Crofton)</dd>
	
<dt>Michael Austin Harlick Under-16 Bowling Award</dt>
	
<dd>
<img border="0" src="/graphics/presentation2009/DSCF0173.jpg" alt="George Greenwood (Portsmouth Community) - Under-16 leading wicket-taker"><br>
	George Greenwood (Portsmouth Community)</dd>
	
<dt>Michael Austin Harlick Under-13 Batting Award <i>(and a
	Game Set and Match gift voucher as the leading Colts batsman)</i>
</dt>
	
<dd>
<img border="0" src="/graphics/presentation2009/DSCF0183.jpg" alt="Dominic Sampson (Fareham &amp; Crofton) - Under-13 leading run-scorer"><br>
	Dominic Sampson (Fareham &amp; Crofton)</dd>
	
<dt>Michael Austin Harlick Under-13 Bowling Award <i>(and a
	Game Set and Match gift voucher as the leading Colts bowler)</i>
</dt>
	
<dd>
<img border="0" src="/graphics/presentation2009/DSCF0186.jpg" alt="Max Hindry (Locks Heath) - Under-13 leading wicket-taker"><br>
	Max Hindry (Locks Heath)</dd>
	
<dt>Roy Jones Award (Colts Sporting and Efficiency Trophy)</dt>
	
<dd>
<img border="0" src="/graphics/presentation2009/DSCF0188.jpg" alt="Locks Heath Under-13s - Colts Sporting and Efficiency Trophy winners"><br>
	Locks Heath Under-13s</dd>

</dl>
<h2>Senior</h2>
<h3>Exhibition games</h3>
<table id="reslist">
	
<tr>
		
<td colspan="2" class="division">Division 2 Champions v Division
		3 Champions</td>
	
</tr>
	
<tr>
		
<td class="teamscore">Fareham &amp; Crofton B 122 for 5 (12 ov)</td>
		<td class="teamscore">Portsmouth &amp; Southsea B 91 all out
		(11.4 ov)</td>
	
</tr>
	
<tr>
		
<td class="highlights"><span class="nolinewrap">D Reader
		34,</span> <span class="nolinewrap">P Hicks 22*,</span> <span class="nolinewrap">R Evans 2/17,</span> <span class="nolinewrap">T
		Bullen 2/29</span></td>
		<td class="highlights"><span class="nolinewrap">E Hind 30,</span>
		<span class="nolinewrap">P Hicks 3/18</span></td>
	
</tr>
	
<tr>
		
<td class="result" colspan="2">Fareham &amp; Crofton B won by 31
		runs</td>
	
</tr>
	
<tr>
		
<td colspan="2" class="division">Division 4 Champions v
		Committee/Umpires VI</td>
	
</tr>
	
<tr>
		
<td class="teamscore">Wickham 158 for 2 (12 ov)</td>
		<td class="teamscore">Committee/Umpires VI 99 all out
		(8.2 ov)</td>
	
</tr>
	
<tr>
		
<td class="highlights"><span class="nolinewrap">C
		Martin 27*,</span> <span class="nolinewrap">B Kirby 26*,</span> <span class="nolinewrap">S Ryan 23,</span> <span class="nolinewrap">J Paskins 2/17</span></td>
		<td class="highlights"><span class="nolinewrap">J Paskins 38,</span> <span class="nolinewrap">N Lane 26,</span>
		<span class="nolinewrap">J Gwynn 2/15</span></td>
	
</tr>
	
<tr>
		
<td class="result" colspan="2">Wickham won by 59
		runs</td>
	
</tr>
	
<tr>
		
<td colspan="2" class="division">The Mayor of Fareham's VIII v
		Division 1 Champions' VIII</td>
	
</tr>
	
<tr>
		
<td class="teamscore">The Mayor of Fareham's VIII 135 for 7</td>
		<td class="teamscore">Purbrook B 117 all out</td>
	
</tr>
	
<tr>
		
<td class="highlights"><span class="nolinewrap">D Hewitt
		38*,</span> <span class="nolinewrap">Mt Lee 3/24</span></td>
		<td class="highlights"><span class="nolinewrap">S Figgins
		21,</span> <span class="nolinewrap">R Jones 2/17,</span> <span class="nolinewrap">G Wylde 2/36</span></td>
	
</tr>
	
<tr>
		
<td class="result" colspan="2">The Mayor of Fareham's VIII won by
		18 runs</td>
	
</tr>

</table>
<h3>Presentation of awards</h3>
<p>The Senior awards were presented by Cllr Ernest Crouch, Mayor of
Fareham.</p>
<dl>
	
<dt>Peter Faulkner Shield (Division 1 Champions)</dt>
	
<dd>
<img border="0" src="/graphics/presentation2009/DSCF0213.jpg" alt="Purbrook B - Division 1 Champions"><br>
	Purbrook B</dd>
	
<dt>Barretts Shield (Division 2 Champions)</dt>
	
<dd>
<img border="0" src="/graphics/presentation2009/DSCF0207.jpg" alt="Fareham &amp; Crofton B - Division 2 Champions"><br>
	Fareham &amp; Crofton B</dd>
	
<dt>Ferguson Shield (Division 3 Champions)</dt>
	
<dd>
<img border="0" src="/graphics/presentation2009/DSCF0204.jpg" alt="Portsmouth &amp; Southsea B - Division 3 Champions"><br>
	Portsmouth &amp; Southsea B</dd>
	
<dt>Joan Vause Shield (Division 4 Champions)</dt>
	
<dd>
<img border="0" src="/graphics/presentation2009/DSCF0202.jpg" alt="Wickham - Division 4 Champions"><br>
	Wickham</dd>
	
<dt>A.R.Pay Batting Trophy <i>(and a Game Set and Match gift
	voucher)</i>
</dt>
	
<dd>
<img border="0" src="/graphics/presentation2009/DSCF0209.jpg" alt="Stuart Wainwright (Corinthians) - Senior leading run-scorer"><br>
	Stuart Wainwright (Corinthians)</dd>
	
<dt>Tony Dunster Memorial Bowling Cup <i>(and a Game Set and
	Match gift voucher)</i>
</dt>
	
<dd>
<img border="0" src="/graphics/presentation2009/DSCF0211.jpg" alt="Finn Hoolahan (Havant A) - Senior leading wicket-taker"><br>
	Finn Hoolahan (Havant A) <i>(collected on his behalf by Peter
	Hopson)</i>
</dd>
	
<dt>Alastair MacDonald Award (Senior Sporting and Efficiency
	Trophy)</dt>
	
<dd>
<img border="0" src="/graphics/presentation2009/DSCF0194.jpg" alt="Hambledon - Senior Sporting and Efficiency Trophy winners"><br>
	Hambledon</dd>

</dl>
</div>
