<div id="presentation">
	<h1>Presentation Evening</h1>
	<p>The Presentation Evening for the 2014/15 season was held at
		Fareham Leisure Centre on Sunday 29th March.</p>
	<h2>Colts</h2>
	<h3>Exhibition games</h3>
	<table id="reslist">

		<tr>

			<td colspan="2" class="division">Under-13</td>

		</tr>

		<tr>

			<td class="teamscore">Waterlooville 122 for 5 (12 ov)</td>
			<td class="teamscore">Under-13 Select VI 123 for 2 (11.4 ov)</td>

		</tr>

		<tr>

			<td class="highlights"><span class="nolinewrap">J Pearce
					23,</span> <span class="nolinewrap">S Reynolds 22*,</span> <span
				class="nolinewrap">T Wallis 2/17</span></td>
			<td class="highlights"><span class="nolinewrap">T Wallis
					29*,</span> <span class="nolinewrap">C Dean 23*,</span> <span
				class="nolinewrap">C Pratt 23*</span></td>

		</tr>

		<tr>

			<td class="result" colspan="2">Under-13 Select VI won by 4
				wickets</td>

		</tr>

		<tr>

			<td colspan="2" class="division">Under-16</td>

		</tr>

		<tr>

			<td class="teamscore">Portsmouth &amp; Southsea 93 all out (9.1
				ov)</td>
			<td class="teamscore">Under-16 Select VI 94 for 1 (9.5 ov)</td>

		</tr>

		<tr>

			<td class="highlights"><span class="nolinewrap">H Gadd
					49*,</span> <span class="nolinewrap">M McGlinchey 2/19</span></td>
			<td class="highlights"><span class="nolinewrap">G
					Broadhurst 26*,</span> <span class="nolinewrap">M McGlinchey 25*</span></td>

		</tr>

		<tr>

			<td class="result" colspan="2">Under-16 Select VI won by 5
				wickets</td>

		</tr>

	</table>
	<h3>Presentation of awards</h3>
	<p>The Colts awards were presented by Rebecca Stemp from our
		Sponsors, Game Set and Match, accompanied by our President, Carol
		Cooper.</p>
	<dl>


		<dt>Peter Faulkner Shield (Under-16 Champions)</dt>


		<dd>

			<img border="0" src="/graphics/presentation2015/10.JPG"
				alt="Portsmouth &amp; Southsea - Colts Under-16 champions"><br>
			Portsmouth &amp; Southsea
		</dd>


		<dt>Ron Cross MBE Trophy (Under-13 Champions)</dt>


		<dd>

			<img border="0" src="/graphics/presentation2015/15.JPG"
				alt="Waterlooville - Colts Under-13 champions"><br>
			Waterlooville
		</dd>

		<dt>Michael Austin Harlick Under-16 Batting Award</dt>


		<dd>

			<img border="0" src="/graphics/presentation2015/3.JPG"
				alt="Harry Gadd (Portsmouth &amp; Southsea) - Colts Under-16 leading run-scorer"><br>
			Harry Gadd (Portsmouth &amp; Southsea)
		</dd>


		<dt>Michael Austin Harlick Under-16 Bowling Award</dt>


		<dd>

			<img border="0" src="/graphics/presentation2015/5.JPG"
				alt="Ben Marshall (Sarisbury Athletic) - Colts Under-16 leading wicket-taker"><br>
			Ben Marshall (Sarisbury Athletic)
		</dd>


		<dt>Michael Austin Harlick Under-13 Batting Award</dt>


		<dd>

			<img border="0" src="/graphics/presentation2015/6.JPG"
				alt="Tom Wallis (Portsmouth) - Colts Under-13 leading run-scorer"><br>
			Tom Wallis (Portsmouth)
		</dd>


		<dt>Michael Austin Harlick Under-13 Bowling Award</dt>


		<dd>

			<img border="0" src="/graphics/presentation2015/9.JPG"
				alt="Tom Wallis (Portsmouth) - Colts Under-13 leading wicket-taker"><br>
			Tom Wallis (Portsmouth)
		</dd>


		<dt>Roy Jones Award (Colts Sporting and Efficiency Trophy)</dt>


		<dd>

			<img border="0" src="/graphics/presentation2015/35.JPG"
				alt="Sarisbury Athletic Under-16 - Colts Sporting and Efficiency Trophy winners"><br>
			Sarisbury Athletic Under-16
		</dd>

	</dl>
	<h2>Senior</h2>
	<h3>Exhibition games</h3>
	<table id="reslist">

		<tr>

			<td colspan="2" class="division">The Mayor of Fareham's VIII v
				Division 1 Champions' VIII</td>

		</tr>

		<tr>

			<td class="teamscore">The Mayor of Fareham's VIII 128 for 3 (12
				ov)</td>
			<td class="teamscore">Havant A 124 all out (12 ov)</td>

		</tr>

		<tr>

			<td class="highlights"><span class="nolinewrap">M Goddard
					26*</span></td>
			<td class="highlights"><span class="nolinewrap">P Hopson
					55, </span> <span class="nolinewrap">H Hovey 27, </span> <span
				class="nolinewrap">S Hillman 2/26</span></td>

		</tr>

		<tr>

			<td class="result" colspan="2">The Mayor of Fareham's VIII won
				by 4 runs</td>

		</tr>

		<tr>

			<td colspan="2" class="division">Division 2 Champions v Division
				3 Champions</td>

		</tr>

		<tr>

			<td class="teamscore">Portsmouth B 119 all out (11.4 ov)</td>
			<td class="teamscore">Bedhampton B 94 for 3 (12 ov)</td>

		</tr>

		<tr>

			<td class="highlights"><span class="nolinewrap">J
					Palmer-Goddard 32,</span> <span class="nolinewrap">N Wyatt 25,</span> <span
				class="nolinewrap">A Whitfield 3/22,</span> <span class="nolinewrap">M
					Hovey 2/24</span></td>
			<td class="highlights"><span class="nolinewrap">C Hovey
					26*,</span> <span class="nolinewrap">M Hovey 25*</span></td>

		</tr>

		<tr>

			<td class="result" colspan="2">Portsmouth B won by 25 runs</td>

		</tr>


		<tr>

			<td colspan="2" class="division">Division 4 Champions v
				Committee/Umpires VI</td>

		</tr>

		<tr>

			<td class="teamscore">St James Casuals 132 for 5 (12 ov)</td>
			<td class="teamscore">Committee/Umpires VI 113 all out (11.4 ov)</td>

		</tr>

		<tr>

			<td class="highlights"><span class="nolinewrap">J Hawley
					24,</span> <span class="nolinewrap">R Webb 22</span></td>
			<td class="highlights"><span class="nolinewrap">T Newman
					42,</span> <span class="nolinewrap">M Shinn 29</span></td>

		</tr>

		<tr>

			<td class="result" colspan="2">St James Casuals won by 19 runs</td>

		</tr>


	</table>
	<h3>Presentation of awards</h3>
	<p>The Senior awards were presented by Cllr David Norris, Mayor of
		Fareham, accompanied by his Consort, Mrs Pamela Norris.</p>
	<dl>


		<dt>Peter Faulkner Shield (Division 1 Champions)</dt>


		<dd>

			<img border="0" src="/graphics/presentation2015/33.JPG"
				alt="Havant A - Division 1 champions"><br> Havant A
		</dd>


		<dt>Barretts Shield (Division 2 Champions)</dt>


		<dd>

			<img border="0" src="/graphics/presentation2015/31.JPG"
				alt="Portsmouth B - Division 2 champions"><br> Portsmouth
			B
		</dd>


		<dt>Ferguson Shield (Division 3 Champions)</dt>


		<dd>

			<img border="0" src="/graphics/presentation2015/30.JPG"
				alt="Bedhampton B - Division 3 champions"><br>
			Bedhampton B
		</dd>


		<dt>Joan Vause Shield (Division 4 Champions)</dt>


		<dd>

			<img border="0" src="/graphics/presentation2015/28.JPG"
				alt="St James Casuals - Division 4 champions"><br> St
			James Casuals
		</dd>


		<dt>A.R.Pay Batting Trophy</dt>


		<dd>

			<img border="0" src="/graphics/presentation2015/24.JPG"
				alt="Nicky Wyatt (Portsmouth B) - Senior leading run-scorer"><br>
			Nicky Wyatt (Portsmouth B)
		</dd>


		<dt>Tony Dunster Memorial Bowling Cup</dt>


		<dd>

			Dave Pitts (Emsworth) <br> <i>(No photo as the winner was
				not available to collect his trophy)</i>
		</dd>


		<dt>Alastair MacDonald Award (Senior Sporting and Efficiency
			Trophy)</dt>


		<dd>

			<img border="0" src="/graphics/presentation2015/22.JPG"
				alt="Gosport Borough - Senior Sporting and Efficiency Trophy winners"><br>
			Gosport Borough
		</dd>


	</dl>
</div>
