<div id="presentation">
	<h1>Presentation Evening</h1>
	<p>The Presentation Evening for the 2015/16 season was held at
		Fareham Leisure Centre on Sunday 20th March.</p>
	<h2>Colts</h2>
	<h3>Exhibition games</h3>
	<table id="reslist">

		<tr>

			<td colspan="2" class="division">Under-13</td>

		</tr>

		<tr>

			<td class="teamscore">Under-13 Select VI 162 for 1 (12 ov)</td>
			<td class="teamscore">Havant 89 all out (9.5 ov)</td>
		
		</tr>

		<tr>

			<td class="highlights"><span class="nolinewrap">O Creal 36*,</span> 
			<span class="nolinewrap">O Pratt 21*,</span> <span
				class="nolinewrap">C Walker 20*,</span> <span
				class="nolinewrap">N Kajendran 20*</span></td>
			<td class="highlights"><span class="nolinewrap">C Dean 30,</span> <span
				class="nolinewrap">N Kajendran 2/25</span></td>

		</tr>

		<tr>

			<td class="result" colspan="2">Under-13 Select VI won by 73 runs</td>

		</tr>
		<tr>
			<td colspan="2"><img border="0" src="/graphics/presentation2016/P1016129.JPG"
				alt="Colts Under-13 Select VI"><br>The Colts Under-13 Select side

		</tr>

		<tr>

			<td colspan="2" class="division">Under-16</td>

		</tr>

		<tr>

			<td class="teamscore">Petersfield 138 for 3 (12
				ov)</td>
			<td class="teamscore">Under-16 Select VI 127 for 3 (12 ov)</td>

		</tr>

		<tr>

			<td class="highlights"><span class="nolinewrap">G Broadhurst 29*,</span> 
				<span class="nolinewrap">B Turk 27*</span></td>
			<td class="highlights"><span class="nolinewrap">J Dunn 27*,</span> 
				<span class="nolinewrap">J Harris 27*,</span> 
				<span class="nolinewrap">B Turk 2/28</span></td>

		</tr>

		<tr>

			<td class="result" colspan="2">Petersfield won by 11 runs</td>

		</tr>
		<tr>
			<td colspan="2"><img border="0" src="/graphics/presentation2016/P1016128.JPG"
				alt="Colts Under-16 Select VI"><br>The Colts Under-16 Select side

		</tr>

	</table>
	<h3>Presentation of awards</h3>
	<p>The Colts awards were presented by Rebecca Stemp from our
		Sponsors, Game Set and Match, accompanied by our President, Carol
		Cooper.</p>
	<dl>


		<dt>Peter Faulkner Shield (Under-16 Champions)</dt>


		<dd>

			<img border="0" src="/graphics/presentation2016/P1016140.JPG"
				alt="Petersfield - Colts Under-16 champions"><br>
			Petersfield
		</dd>


		<dt>Ron Cross MBE Trophy (Under-13 Champions)</dt>


		<dd>

			<img border="0" src="/graphics/presentation2016/P1016142.JPG"
				alt="Havant - Colts Under-13 champions"><br>
			Havant
		</dd>

		<dt>Michael Austin Harlick Under-16 Batting Award</dt>


		<dd>

			<img border="0" src="/graphics/presentation2016/P1016135.JPG"
				alt="Ben Anscombe (Petersfield) - Colts Under-16 leading run-scorer"><br>
			Ben Anscombe (Petersfield)
		</dd>


		<dt>Michael Austin Harlick Under-16 Bowling Award</dt>


		<dd>

			<img border="0" src="/graphics/presentation2016/P1016136.JPG"
				alt="Charlie Creal (Gosport Borough) - Colts Under-16 leading wicket-taker"><br>
			Charlie Creal (Gosport Borough)
		</dd>


		<dt>Michael Austin Harlick Under-13 Batting Award</dt>


		<dd>

			Freddie Gadd (Portsmouth &amp; Southsea)<br><i>(No photo as the winner was
				not available to collect his trophy)</i>
		</dd>


		<dt>Michael Austin Harlick Under-13 Bowling Award</dt>


		<dd>

			<img border="0" src="/graphics/presentation2016/P1016137.JPG"
				alt="Jonty Oliver (Havant) - Colts Under-13 leading wicket-taker"><br>
			Jonty Oliver (Havant)
		</dd>


		<dt>Roy Jones Award (Colts Sporting and Efficiency Trophy)</dt>


		<dd>

			<img border="0" src="/graphics/presentation2016/P1016132.JPG"
				alt="Fareham &amp; Crofton Under-13 - Colts Sporting and Efficiency Trophy winners"><br>
			Fareham &amp; Crofton Under-13
		</dd>

	</dl>
	<h2>Senior</h2>
	<h3>Exhibition games</h3>
	<table id="reslist">

		<tr>

			<td colspan="2" class="division">The Mayor of Fareham's VIII v
				Division 1 Champions' VIII</td>

		</tr>
		<tr>

			<td class="teamscore">Waterlooville A 114 all out (12
				ov)</td>
			<td class="teamscore">The Mayor of Fareham's VIII 114 for 5 (12 ov)</td>

		</tr>

		<tr>

			<td class="highlights"><span class="nolinewrap">J Scutt 34, </span> <span
				class="nolinewrap">D Emery 2/25</span></span></td>
			<td class="highlights"><span class="nolinewrap">G Marshall 30*, </span> 
				<span class="nolinewrap">J Palmer-Goddard 25*, </span> <span
				class="nolinewrap">A Reynolds 2/16, </span> <span
				class="nolinewrap">H Knight 2/33</span></td>

		</tr>

		<tr>

			<td class="result" colspan="2">Match tied</td>

		</tr>
		<tr>
			<td colspan="2"><img border="0" src="/graphics/presentation2016/P1016144.JPG"
				alt="Mayor of Fareham's VIII"><br>The Mayor of Fareham's VIII

		</tr>
		<tr>
			<td colspan="2"><img border="0" src="/graphics/presentation2016/P1016145.JPG"
				alt="Shared trophy"><br>The trophy for the winners of the Mayor's game is shared
				by the captains of Waterlooville A and the Mayor's team 

		</tr>
		<tr>

			<td colspan="2" class="division">Division 2 Champions v Division
				3 Champions</td>

		</tr>

		<tr>

			<td class="teamscore">Gosport Borough A 104 for 5 (12 ov)</td>
			<td class="teamscore">Purbrook 106 for 2 (8.3 ov)</td>

		</tr>

		<tr>

			<td class="highlights"><span class="nolinewrap">G King 34*,</span> <span class="nolinewrap">S Taylor 24</span></td>
			<td class="highlights"><span class="nolinewrap">J Spiers 36*,</span> <span class="nolinewrap">A Dean 20</span></td>

		</tr>

		<tr>

			<td class="result" colspan="2">Purbrook won by 4 wickets</td>

		</tr>


		<tr>

			<td colspan="2" class="division">Division 4 Champions v
				Committee/Umpires VI</td>

		</tr>
		<tr>

			<td class="teamscore">Gosport Borough B 124 for 2 (12 ov)</td>
			<td class="teamscore">Committee/Umpires VI 70 all out (11.5 ov)</td>

		</tr>

		<tr>

			<td class="highlights"><span class="nolinewrap">C Pennicott
					41*,</span> <span class="nolinewrap">J Harris 30*,</span> 
					<span class="nolinewrap">J Richards 25*</span></td>
			<td class="highlights"><span class="nolinewrap">J Richards 2/16</span></td>

		</tr>

		<tr>

			<td class="result" colspan="2">Gosport Borough B won by 54 runs</td>

		</tr>

	</table>
	<h3>Presentation of awards</h3>
	<p>The Senior awards were presented by Cllr Mike Ford, Mayor of
		Fareham, accompanied by his Consort, Mrs Anne Ford.</p>
	<dl>


		<dt>Peter Faulkner Shield (Division 1 Champions)</dt>


		<dd>

			<img border="0" src="/graphics/presentation2016/P1016161.JPG"
				alt="Waterlooville A - Division 1 champions"><br> Waterlooville A
		</dd>


		<dt>Barretts Shield (Division 2 Champions)</dt>


		<dd>

			<img border="0" src="/graphics/presentation2016/P1016159.JPG"
				alt="Purbrook - Division 2 champions"><br> Purbrook
		</dd>


		<dt>Ferguson Shield (Division 3 Champions)</dt>


		<dd>

			<img border="0" src="/graphics/presentation2016/P1016155.JPG"
				alt="Gosport Borough A - Division 3 champions"><br>
			Gosport Borough A
		</dd>


		<dt>Joan Vause Shield (Division 4 Champions)</dt>


		<dd>

			<img border="0" src="/graphics/presentation2016/P1016153.JPG"
				alt="Gosport Borough B - Division 4 champions"><br> Gosport Borough B
		</dd>


		<dt>A.R.Pay Batting Trophy</dt>


		<dd>

			Dan Clark (Bedhampton A) <br> <i>(No photo as the winner was
				not available to collect his trophy)</i>
		</dd>


		<dt>Tony Dunster Memorial Bowling Cup</dt>


		<dd>

			<img border="0" src="/graphics/presentation2016/P1016152.JPG"
				alt="Dave Pitts (Emsworth) - Senior leading wicket-taker"><br>
			Dave Pitts (Emsworth)
		</dd>


		<dt>Alastair MacDonald Award (Senior Sporting and Efficiency
			Trophy)</dt>


		<dd>

			<img border="0" src="/graphics/presentation2016/P1016149.JPG"
				alt="Denmead - Senior Sporting and Efficiency Trophy winners"><br>
			Denmead
		</dd>


	</dl>
</div>
