<div id="batav">
<h1>Colts Under-13 Batting: Season 2003-04</h1>
<table>
	
<thead>
		
<tr>
			
<td class="number"></td>
			<th class="name">Batsman's name</th>
			<th class="name">Club</th>
			<th class="number">Total runs</th>
		
</tr>
	
</thead>
							
<tbody>
<tr>
								
<td class="number">
								1
								</td>
								<td class="name">
								J Rolfe
								</td>
								<td class="name">
								Locks Heath
								</td>
								<td class="number">
								205
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								2
								</td>
								<td class="name">
								N Hodgson
								</td>
								<td class="name">
								Havant
								</td>
								<td class="number">
								192
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								3
								</td>
								<td class="name">
								C Hillier
								</td>
								<td class="name">
								Fareham &amp; Crofton
								</td>
								<td class="number">
								134
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								4
								</td>
								<td class="name">
								K Al-Safi
								</td>
								<td class="name">
								Havant
								</td>
								<td class="number">
								128
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								5
								</td>
								<td class="name">
								T Brooks
								</td>
								<td class="name">
								Waterlooville
								</td>
								<td class="number">
								121
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								6
								</td>
								<td class="name">
								D Millward
								</td>
								<td class="name">
								Sarisbury Athletic
								</td>
								<td class="number">
								119
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								7
								</td>
								<td class="name">
								L Jones
								</td>
								<td class="name">
								Fareham &amp; Crofton
								</td>
								<td class="number">
								103
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								8
								</td>
								<td class="name">
								M Mason
								</td>
								<td class="name">
								Fareham &amp; Crofton
								</td>
								<td class="number">
								102
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								9
								</td>
								<td class="name">
								T May
								</td>
								<td class="name">
								Portsmouth
								</td>
								<td class="number">
								99
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								10
								</td>
								<td class="name">
								O Hughes
								</td>
								<td class="name">
								Havant
								</td>
								<td class="number">
								98
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								11
								</td>
								<td class="name">
								A Winfield
								</td>
								<td class="name">
								United Services
								</td>
								<td class="number">
								96
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								
								</td>
								<td class="name">
								C Goshawk
								</td>
								<td class="name">
								Portsmouth
								</td>
								<td class="number">
								96
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								13
								</td>
								<td class="name">
								J Dipple
								</td>
								<td class="name">
								Waterlooville
								</td>
								<td class="number">
								95
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								14
								</td>
								<td class="name">
								A Tosdevin
								</td>
								<td class="name">
								Sarisbury Athletic
								</td>
								<td class="number">
								92
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								15
								</td>
								<td class="name">
								B Lane
								</td>
								<td class="name">
								Gosport Borough
								</td>
								<td class="number">
								88
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								16
								</td>
								<td class="name">
								J Paskins
								</td>
								<td class="name">
								Locks Heath
								</td>
								<td class="number">
								87
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								17
								</td>
								<td class="name">
								T Lewis
								</td>
								<td class="name">
								United Services
								</td>
								<td class="number">
								76
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								18
								</td>
								<td class="name">
								D Hammond
								</td>
								<td class="name">
								Sarisbury Athletic
								</td>
								<td class="number">
								70
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								19
								</td>
								<td class="name">
								C Holden
								</td>
								<td class="name">
								Fareham &amp; Crofton
								</td>
								<td class="number">
								68
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								20
								</td>
								<td class="name">
								M Sawford
								</td>
								<td class="name">
								Waterlooville
								</td>
								<td class="number">
								65
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								21
								</td>
								<td class="name">
								J Reid
								</td>
								<td class="name">
								Havant
								</td>
								<td class="number">
								63
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								22
								</td>
								<td class="name">
								M Psaila
								</td>
								<td class="name">
								Sarisbury Athletic
								</td>
								<td class="number">
								59
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								
								</td>
								<td class="name">
								G Kitchen
								</td>
								<td class="name">
								Gosport Borough
								</td>
								<td class="number">
								59
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								24
								</td>
								<td class="name">
								M Hill
								</td>
								<td class="name">
								United Services
								</td>
								<td class="number">
								57
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								
								</td>
								<td class="name">
								J Rimmer
								</td>
								<td class="name">
								Purbrook
								</td>
								<td class="number">
								57
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								
								</td>
								<td class="name">
								C Marsh
								</td>
								<td class="name">
								Purbrook
								</td>
								<td class="number">
								57
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								27
								</td>
								<td class="name">
								R Jacobs
								</td>
								<td class="name">
								Portsmouth
								</td>
								<td class="number">
								53
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								
								</td>
								<td class="name">
								T Palmer
								</td>
								<td class="name">
								Havant
								</td>
								<td class="number">
								53
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								29
								</td>
								<td class="name">
								D Gault
								</td>
								<td class="name">
								Waterlooville
								</td>
								<td class="number">
								52
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								30
								</td>
								<td class="name">
								A Willcoxson
								</td>
								<td class="name">
								Waterlooville
								</td>
								<td class="number">
								49
								</td>
							
</tr>
							
<tr>
								
<td class="number">
								
								</td>
								<td class="name">
								D Campbell
								</td>
								<td class="name">
								Locks Heath
								</td>
								<td class="number">
								49
								</td>
							
</tr>
						
</tbody>
</table>
</div>
