<div id="bowlav">
<h1>Colts Under-13 Bowling: Season 2003-04</h1>
<table>
	
<thead>
		
<tr>
			
<th class="number"></th>
			<th class="name">Bowler's Name</th>
			<th class="name">Club</th>
			<th class="number">Total Wkts</th>
			<th class="number">Runs per Over</th>
		
</tr>
	
</thead>
	
<tbody>
<tr>
		
<td class="number">1</td>
		<td class="name">J Paskins</td>
		<td class="name">Locks Heath</td>
		<td class="number">10</td>
		<td class="number">6.95</td>
	
</tr>
	
<tr>
		
<td class="number">2</td>
		<td class="name">R Jacobs</td>
		<td class="name">Portsmouth</td>
		<td class="number">9</td>
		<td class="number">8.11</td>
	
</tr>
	
<tr>
		
<td class="number">3</td>
		<td class="name">C Holden</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td class="number">8</td>
		<td class="number">8.43</td>
	
</tr>
	
<tr>
		
<td class="number">4</td>
		<td class="name">E Erridge</td>
		<td class="name">Gosport Borough</td>
		<td class="number">7</td>
		<td class="number">6.57</td>
	
</tr>
	
<tr>
		
<td class="number">5</td>
		<td class="name">L Bristow</td>
		<td class="name">Sarisbury Athletic</td>
		<td class="number">7</td>
		<td class="number">6.91</td>
	
</tr>
	
<tr>
		
<td class="number">6</td>
		<td class="name">S Knott</td>
		<td class="name">Locks Heath</td>
		<td class="number">6</td>
		<td class="number">6.19</td>
	
</tr>
	
<tr>
		
<td class="number">7</td>
		<td class="name">J Reid</td>
		<td class="name">Havant</td>
		<td class="number">6</td>
		<td class="number">6.57</td>
	
</tr>
	
<tr>
		
<td class="number">8</td>
		<td class="name">N Hodgson</td>
		<td class="name">Havant</td>
		<td class="number">6</td>
		<td class="number">9.05</td>
	
</tr>
	
<tr>
		
<td class="number">9</td>
		<td class="name">T Lewis</td>
		<td class="name">United Services</td>
		<td class="number">5</td>
		<td class="number">8.07</td>
	
</tr>
	
<tr>
		
<td class="number">10</td>
		<td class="name">L Jones</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td class="number">5</td>
		<td class="number">8.81</td>
	
</tr>
	
<tr>
		
<td class="number">11</td>
		<td class="name">A Winfield</td>
		<td class="name">United Services</td>
		<td class="number">4</td>
		<td class="number">7.36</td>
	
</tr>
	
<tr>
		
<td class="number">12</td>
		<td class="name">A Tosdevin</td>
		<td class="name">Sarisbury Athletic</td>
		<td class="number">4</td>
		<td class="number">8.05</td>
	
</tr>
	
<tr>
		
<td class="number">13</td>
		<td class="name">M Psaila</td>
		<td class="name">Sarisbury Athletic</td>
		<td class="number">4</td>
		<td class="number">8.58</td>
	
</tr>
	
<tr>
		
<td class="number">14</td>
		<td class="name">R Price</td>
		<td class="name">United Services</td>
		<td class="number">3</td>
		<td class="number">7.73</td>
	
</tr>
	
<tr>
		
<td class="number">15</td>
		<td class="name">B Lane</td>
		<td class="name">Gosport Borough</td>
		<td class="number">3</td>
		<td class="number">8.32</td>
	
</tr>
	
<tr>
		
<td class="number">16</td>
		<td class="name">T Larner</td>
		<td class="name">Gosport Borough</td>
		<td class="number">3</td>
		<td class="number">8.39</td>
	
</tr>
	
<tr>
		
<td class="number">17</td>
		<td class="name">T May</td>
		<td class="name">Portsmouth</td>
		<td class="number">3</td>
		<td class="number">9.09</td>
	
</tr>
	
<tr>
		
<td class="number">18</td>
		<td class="name">J Rolfe</td>
		<td class="name">Locks Heath</td>
		<td class="number">3</td>
		<td class="number">9.39</td>
	
</tr>
	
<tr>
		
<td class="number">19</td>
		<td class="name">J Thomas</td>
		<td class="name">Purbrook</td>
		<td class="number">3</td>
		<td class="number">9.43</td>
	
</tr>
	
<tr>
		
<td class="number">20</td>
		<td class="name">D Hammond</td>
		<td class="name">Sarisbury Athletic</td>
		<td class="number">3</td>
		<td class="number">9.79</td>
	
</tr>
	
<tr>
		
<td class="number">21</td>
		<td class="name">C Harding</td>
		<td class="name">Purbrook</td>
		<td class="number">3</td>
		<td class="number">10.50</td>
	
</tr>
	
<tr>
		
<td class="number">22</td>
		<td class="name">T Devine</td>
		<td class="name">Gosport Borough</td>
		<td class="number">2</td>
		<td class="number">4.75</td>
	
</tr>
	
<tr>
		
<td class="number">23</td>
		<td class="name">R Harrop</td>
		<td class="name">Gosport Borough</td>
		<td class="number">2</td>
		<td class="number">6.46</td>
	
</tr>
	
<tr>
		
<td class="number">24</td>
		<td class="name">A Willcoxson</td>
		<td class="name">Waterlooville</td>
		<td class="number">2</td>
		<td class="number">6.77</td>
	
</tr>
	
<tr>
		
<td class="number">25</td>
		<td class="name">E Shulman</td>
		<td class="name">Gosport Borough</td>
		<td class="number">2</td>
		<td class="number">7.00</td>
	
</tr>
	
<tr>
		
<td class="number">26</td>
		<td class="name">C Hillier</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td class="number">2</td>
		<td class="number">7.63</td>
	
</tr>
	
<tr>
		
<td class="number">27</td>
		<td class="name">S Treagus</td>
		<td class="name">Portsmouth</td>
		<td class="number">2</td>
		<td class="number">7.75</td>
	
</tr>
	
<tr>
		
<td class="number">28</td>
		<td class="name">B Purssell</td>
		<td class="name">Portsmouth</td>
		<td class="number">2</td>
		<td class="number">8.31</td>
	
</tr>
	
<tr>
		
<td class="number">29</td>
		<td class="name">A Fisher</td>
		<td class="name">United Services</td>
		<td class="number">2</td>
		<td class="number">8.57</td>
	
</tr>
	
<tr>
		
<td class="number">30</td>
		<td class="name">T Anchor</td>
		<td class="name">Waterlooville</td>
		<td class="number">2</td>
		<td class="number">10.00</td>
	
</tr>

</tbody>
</table>
</div>
