<div id="table">
<h1>Colts Under-13: Season 2003-04</h1>
<table>

<thead>
	
<tr>
		
<th class="number"></th>
		<th class="teamname"></th>
		<th class="key"></th>
		<th class="number">P</th>
		<th class="number">W</th>
		<th class="number">T</th>
		<th class="number">L</th>
		<th class="number">BAT</th>
		<th class="number">BOWL</th>
		<th class="number">RUN RATE</th>
		<th class="number">TOTAL</th>
	
</tr>

</thead>
	
<tr>
		
<td class="number">1</td>
		<td class="teamname champions">Havant</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">6</td>
		<td class="number">1</td>
		<td class="number">1</td>
		<td class="number">46</td>
		<td class="number">27</td>
		<td class="number">10.98</td>
		<td class="number">151</td>
	
</tr>

	
<tr>
		
<td class="number">2</td>
		<td class="teamname">Locks Heath</td>
		<td class="key">#</td>
		<td class="number">8</td>
		<td class="number">5</td>
		<td class="number">0</td>
		<td class="number">2</td>
		<td class="number">33</td>
		<td class="number">24</td>
		<td class="number">9.87</td>
		<td class="number">138</td>
	
</tr>

	
<tr>
		
<td class="number">3</td>
		<td class="teamname">Sarisbury Athletic</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">6</td>
		<td class="number">0</td>
		<td class="number">1</td>
		<td class="number">35</td>
		<td class="number">31</td>
		<td class="number">9.73</td>
		<td class="number">138</td>
	
</tr>

	
<tr>
		
<td class="number">4</td>
		<td class="teamname">Fareham &amp; Crofton</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">5</td>
		<td class="number">0</td>
		<td class="number">3</td>
		<td class="number">34</td>
		<td class="number">26</td>
		<td class="number">9.28</td>
		<td class="number">120</td>
	
</tr>

	
<tr>
		
<td class="number">5</td>
		<td class="teamname">Portsmouth</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">5</td>
		<td class="number">0</td>
		<td class="number">3</td>
		<td class="number">27</td>
		<td class="number">21</td>
		<td class="number">8.11</td>
		<td class="number">108</td>
	
</tr>

	
<tr>
		
<td class="number">6</td>
		<td class="teamname">United Services</td>
		<td class="key">X#$</td>
		<td class="number">8</td>
		<td class="number">3</td>
		<td class="number">0</td>
		<td class="number">4</td>
		<td class="number">21</td>
		<td class="number">24</td>
		<td class="number">7.95</td>
		<td class="number">94</td>
	
</tr>

	
<tr>
		
<td class="number">7</td>
		<td class="teamname">Waterlooville</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">2</td>
		<td class="number">1</td>
		<td class="number">5</td>
		<td class="number">30</td>
		<td class="number">18</td>
		<td class="number">8.46</td>
		<td class="number">78</td>
	
</tr>

	
<tr>
		
<td class="number">8</td>
		<td class="teamname">Gosport Borough</td>
		<td class="key">$</td>
		<td class="number">8</td>
		<td class="number">1</td>
		<td class="number">0</td>
		<td class="number">7</td>
		<td class="number">18</td>
		<td class="number">30</td>
		<td class="number">6.91</td>
		<td class="number">56</td>
	
</tr>
	
<tr>
		
<td class="number">9</td>
		<td class="teamname">Purbrook</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">0</td>
		<td class="number">0</td>
		<td class="number">7</td>
		<td class="number">17</td>
		<td class="number">12</td>
		<td class="number">7.40</td>
		<td class="number">29</td>
	
</tr>


</table>
<br>
<table>
	
<tr>
		
<th class="number">KEY</th>
		<td></td>
	
</tr>

	
<tr>
		
<td class="key">#</td>
		<td>Non-arrival of opposition - 21 points awarded</td>
	
</tr>

	
<tr>
		
<td class="key">$</td>
		<td>Late start - 4 points deducted</td>
	
</tr>

	
<tr>
		
<td class="key">X</td>
		<td>Late payment of fine - 4 points deducted</td>
	
</tr>


</table>
</div>
