<div id="batav">
<h1>Colts Under-16 Batting: Season 2003-04</h1>
<table>
	
<thead>
		
<tr>
			
<td class="number"></td>
			<th class="name">Batsman's name</th>
			<th class="name">Club</th>
			<th class="number">Total runs</th>
		
</tr>
	
</thead>
	
<tbody>
<tr>
		
<td class="number">1</td>
		<td class="name">B Thomas</td>
		<td class="name">Purbrook</td>
		<td class="number">176</td>
	
</tr>
	
<tr>
		
<td class="number">2</td>
		<td class="name">P Tanner</td>
		<td class="name">Portsmouth</td>
		<td class="number">171</td>
	
</tr>
	
<tr>
		
<td class="number">3</td>
		<td class="name">B Walker</td>
		<td class="name">Havant</td>
		<td class="number">164</td>
	
</tr>
	
<tr>
		
<td class="number">4</td>
		<td class="name">C Hardaker</td>
		<td class="name">Havant</td>
		<td class="number">158</td>
	
</tr>
	
<tr>
		
<td class="number">5</td>
		<td class="name">L Russell</td>
		<td class="name">Portsmouth</td>
		<td class="number">151</td>
	
</tr>
	
<tr>
		
<td class="number">6</td>
		<td class="name">T Robson</td>
		<td class="name">Waterlooville</td>
		<td class="number">149</td>
	
</tr>
	
<tr>
		
<td class="number">7</td>
		<td class="name">C Stone</td>
		<td class="name">United Services</td>
		<td class="number">142</td>
	
</tr>
	
<tr>
		
<td class="number">8</td>
		<td class="name">T Cannell</td>
		<td class="name">United Services</td>
		<td class="number">135</td>
	
</tr>
	
<tr>
		
<td class="number">9</td>
		<td class="name">S Ransley</td>
		<td class="name">Havant</td>
		<td class="number">130</td>
	
</tr>
	
<tr>
		
<td class="number">10</td>
		<td class="name">C Wheeler</td>
		<td class="name">Hambledon</td>
		<td class="number">126</td>
	
</tr>
	
<tr>
		
<td class="number">11</td>
		<td class="name">P Hopson</td>
		<td class="name">Havant</td>
		<td class="number">121</td>
	
</tr>
	
<tr>
		
<td class="number">12</td>
		<td class="name">R Faulkner</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td class="number">116</td>
	
</tr>
	
<tr>
		
<td class="number">13</td>
		<td class="name">S Mills</td>
		<td class="name">Locks Heath</td>
		<td class="number">113</td>
	
</tr>
	
<tr>
		
<td class="number">14</td>
		<td class="name">R Unwins</td>
		<td class="name">Waterlooville</td>
		<td class="number">103</td>
	
</tr>
	
<tr>
		
<td class="number">15</td>
		<td class="name">T Jones</td>
		<td class="name">Purbrook</td>
		<td class="number">99</td>
	
</tr>
	
<tr>
		
<td class="number"></td>
		<td class="name">L Folwell</td>
		<td class="name">Locks Heath</td>
		<td class="number">99</td>
	
</tr>
	
<tr>
		
<td class="number">17</td>
		<td class="name">W Norman</td>
		<td class="name">Hambledon</td>
		<td class="number">97</td>
	
</tr>
	
<tr>
		
<td class="number">18</td>
		<td class="name">J Drudge</td>
		<td class="name">United Services</td>
		<td class="number">96</td>
	
</tr>
	
<tr>
		
<td class="number">19</td>
		<td class="name">J Stevens</td>
		<td class="name">United Services</td>
		<td class="number">86</td>
	
</tr>
	
<tr>
		
<td class="number">20</td>
		<td class="name">I Jameson</td>
		<td class="name">Waterlooville</td>
		<td class="number">85</td>
	
</tr>
	
<tr>
		
<td class="number">21</td>
		<td class="name">B Pay</td>
		<td class="name">Purbrook</td>
		<td class="number">84</td>
	
</tr>
	
<tr>
		
<td class="number">22</td>
		<td class="name">A Hornbuckle</td>
		<td class="name">United Services</td>
		<td class="number">83</td>
	
</tr>
	
<tr>
		
<td class="number">22</td>
		<td class="name">A Youngs</td>
		<td class="name">United Services</td>
		<td class="number">82</td>
	
</tr>
	
<tr>
		
<td class="number">24</td>
		<td class="name">C Morgan</td>
		<td class="name">Havant</td>
		<td class="number">81</td>
	
</tr>
	
<tr>
		
<td class="number">25</td>
		<td class="name">L Gould</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td class="number">79</td>
	
</tr>
	
<tr>
		
<td class="number">26</td>
		<td class="name">S Merrali</td>
		<td class="name">Havant</td>
		<td class="number">78</td>
	
</tr>
	
<tr>
		
<td class="number">27</td>
		<td class="name">Katherine Hudson</td>
		<td class="name">Portsmouth Community</td>
		<td class="number">74</td>
	
</tr>
	
<tr>
		
<td class="number">28</td>
		<td class="name">D Knott</td>
		<td class="name">Locks Heath</td>
		<td class="number">72</td>
	
</tr>
	
<tr>
		
<td class="number">29</td>
		<td class="name">D West</td>
		<td class="name">Portsmouth Community</td>
		<td class="number">70</td>
	
</tr>
	
<tr>
		
<td class="number">30</td>
		<td class="name">N Hodgson</td>
		<td class="name">Havant</td>
		<td class="number">68</td>
	
</tr>

</tbody>
</table>
</div>
