<div id="bowlav">
<h1>Colts Under-16 Bowling: Season 2003-04</h1>
<table>
	
<thead>
		
<tr>
			
<th class="number"></th>
			<th class="name">Bowler's Name</th>
			<th class="name">Club</th>
			<th class="number">Total Wkts</th>
			<th class="number">Runs per Over</th>
		
</tr>
	
</thead>
	
<tbody>
<tr>
		
<td class="number">1</td>
		<td class="name">W Norman</td>
		<td class="name">Hambledon</td>
		<td class="number">8</td>
		<td class="number">7.21</td>
	
</tr>
	
<tr>
		
<td class="number">2</td>
		<td class="name">S Hillman</td>
		<td class="name">Waterlooville</td>
		<td class="number">7</td>
		<td class="number">4.17</td>
	
</tr>
	
<tr>
		
<td class="number">3</td>
		<td class="name">T Jackson</td>
		<td class="name">United Services</td>
		<td class="number">6</td>
		<td class="number">8.45</td>
	
</tr>
	
<tr>
		
<td class="number">4</td>
		<td class="name">C Bosshardt</td>
		<td class="name">Portsmouth</td>
		<td class="number">5</td>
		<td class="number">5.70</td>
	
</tr>
	
<tr>
		
<td class="number">5</td>
		<td class="name">J Hudson</td>
		<td class="name">Waterlooville</td>
		<td class="number">5</td>
		<td class="number">6.84</td>
	
</tr>
	
<tr>
		
<td class="number">6</td>
		<td class="name">B Walker</td>
		<td class="name">Havant</td>
		<td class="number">5</td>
		<td class="number">7.57</td>
	
</tr>
	
<tr>
		
<td class="number">7</td>
		<td class="name">C Hardaker</td>
		<td class="name">Havant</td>
		<td class="number">5</td>
		<td class="number">7.96</td>
	
</tr>
	
<tr>
		
<td class="number">8</td>
		<td class="name">S Merrali</td>
		<td class="name">Havant</td>
		<td class="number">5</td>
		<td class="number">8.52</td>
	
</tr>
	
<tr>
		
<td class="number">9</td>
		<td class="name">C Wheeler</td>
		<td class="name">Hambledon</td>
		<td class="number">5</td>
		<td class="number">9.70</td>
	
</tr>
	
<tr>
		
<td class="number">10</td>
		<td class="name">B Pay</td>
		<td class="name">Purbrook</td>
		<td class="number">5</td>
		<td class="number">9.90</td>
	
</tr>
	
<tr>
		
<td class="number">11</td>
		<td class="name">L Russell</td>
		<td class="name">Portsmouth</td>
		<td class="number">4</td>
		<td class="number">4.87</td>
	
</tr>
	
<tr>
		
<td class="number">12</td>
		<td class="name">M Rolfe</td>
		<td class="name">Locks Heath</td>
		<td class="number">4</td>
		<td class="number">7.47</td>
	
</tr>
	
<tr>
		
<td class="number">13</td>
		<td class="name">J Drudge</td>
		<td class="name">United Services</td>
		<td class="number">4</td>
		<td class="number">8.24</td>
	
</tr>
	
<tr>
		
<td class="number">14</td>
		<td class="name">T Jones</td>
		<td class="name">Purbrook</td>
		<td class="number">4</td>
		<td class="number">8.82</td>
	
</tr>
	
<tr>
		
<td class="number">15</td>
		<td class="name">M Marchant</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td class="number">4</td>
		<td class="number">8.87</td>
	
</tr>
	
<tr>
		
<td class="number">16</td>
		<td class="name">J Carrs</td>
		<td class="name">Hambledon</td>
		<td class="number">4</td>
		<td class="number">9.83</td>
	
</tr>
	
<tr>
		
<td class="number">17</td>
		<td class="name">M Pastellas</td>
		<td class="name">Fareham &amp; Crofton</td>
		<td class="number">4</td>
		<td class="number">10.56</td>
	
</tr>
	
<tr>
		
<td class="number">18</td>
		<td class="name">J Burnett</td>
		<td class="name">Waterlooville</td>
		<td class="number">4</td>
		<td class="number">10.58</td>
	
</tr>
	
<tr>
		
<td class="number">19</td>
		<td class="name">B Kirby</td>
		<td class="name">Portsmouth</td>
		<td class="number">4</td>
		<td class="number">10.91</td>
	
</tr>
	
<tr>
		
<td class="number">20</td>
		<td class="name">A Dean</td>
		<td class="name">Purbrook</td>
		<td class="number">4</td>
		<td class="number">10.95</td>
	
</tr>
	
<tr>
		
<td class="number">21</td>
		<td class="name">P Tanner</td>
		<td class="name">Portsmouth</td>
		<td class="number">3</td>
		<td class="number">7.01</td>
	
</tr>
	
<tr>
		
<td class="number">22</td>
		<td class="name">J Hill</td>
		<td class="name">Locks Heath</td>
		<td class="number">3</td>
		<td class="number">8.09</td>
	
</tr>
	
<tr>
		
<td class="number">23</td>
		<td class="name">L Folwell</td>
		<td class="name">Locks Heath</td>
		<td class="number">3</td>
		<td class="number">8.44</td>
	
</tr>
	
<tr>
		
<td class="number">24</td>
		<td class="name">I Jameson</td>
		<td class="name">Waterlooville</td>
		<td class="number">3</td>
		<td class="number">9.33</td>
	
</tr>
	
<tr>
		
<td class="number">25</td>
		<td class="name">O Clarke</td>
		<td class="name">Waterlooville</td>
		<td class="number">3</td>
		<td class="number">9.56</td>
	
</tr>
	
<tr>
		
<td class="number">26</td>
		<td class="name">T Cannell</td>
		<td class="name">United Services</td>
		<td class="number">3</td>
		<td class="number">10.00</td>
	
</tr>
	
<tr>
		
<td class="number">27</td>
		<td class="name">S Nicholl</td>
		<td class="name">Portsmouth</td>
		<td class="number">3</td>
		<td class="number">10.20</td>
	
</tr>
	
<tr>
		
<td class="number">28</td>
		<td class="name">N Hodgson</td>
		<td class="name">Havant</td>
		<td class="number">3</td>
		<td class="number">10.61</td>
	
</tr>
	
<tr>
		
<td class="number">29</td>
		<td class="name">D Haywood</td>
		<td class="name">Purbrook</td>
		<td class="number">3</td>
		<td class="number">10.97</td>
	
</tr>
	
<tr>
		
<td class="number">30</td>
		<td class="name">S Mills</td>
		<td class="name">Locks Heath</td>
		<td class="number">2</td>
		<td class="number">6.94</td>
	
</tr>

</tbody>
</table>
</div>
