<div id="table">
<h1>Colts Under-16: Season 2003-04</h1>
<table>

<thead>
	
<tr>
		
<th class="number"></th>
		<th class="teamname"></th>
		<th class="key"></th>
		<th class="number">P</th>
		<th class="number">W</th>
		<th class="number">T</th>
		<th class="number">L</th>
		<th class="number">BAT</th>
		<th class="number">BOWL</th>
		<th class="number">RUN RATE</th>
		<th class="number">TOTAL</th>
	
</tr>

</thead>
	
<tr>
		
<td class="number">1</td>
		<td class="teamname champions">Waterlooville</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">8</td>
		<td class="number">0</td>
		<td class="number">0</td>
		<td class="number">46</td>
		<td class="number">34</td>
		<td class="number">11.41</td>
		<td class="number">176</td>
	
</tr>

	
<tr>
		
<td class="number">2</td>
		<td class="teamname">Havant</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">6</td>
		<td class="number">0</td>
		<td class="number">2</td>
		<td class="number">43</td>
		<td class="number">34</td>
		<td class="number">12.64</td>
		<td class="number">149</td>
	
</tr>

	
<tr>
		
<td class="number">3</td>
		<td class="teamname">United Services</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">5</td>
		<td class="number">0</td>
		<td class="number">3</td>
		<td class="number">33</td>
		<td class="number">26</td>
		<td class="number">9.39</td>
		<td class="number">119</td>
	
</tr>

	
<tr>
		
<td class="number">4</td>
		<td class="teamname">Portsmouth</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">4</td>
		<td class="number">0</td>
		<td class="number">4</td>
		<td class="number">35</td>
		<td class="number">31</td>
		<td class="number">9.93</td>
		<td class="number">114</td>
	
</tr>

	
<tr>
		
<td class="number">5</td>
		<td class="teamname">Fareham &amp; Crofton</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">4</td>
		<td class="number">0</td>
		<td class="number">4</td>
		<td class="number">31</td>
		<td class="number">25</td>
		<td class="number">9.72</td>
		<td class="number">104</td>
	
</tr>

	
<tr>
		
<td class="number">6</td>
		<td class="teamname">Purbrook</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">3</td>
		<td class="number">0</td>
		<td class="number">5</td>
		<td class="number">34</td>
		<td class="number">31</td>
		<td class="number">9.48</td>
		<td class="number">101</td>
	
</tr>

	
<tr>
		
<td class="number">7</td>
		<td class="teamname">Hambledon</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">3</td>
		<td class="number">0</td>
		<td class="number">5</td>
		<td class="number">33</td>
		<td class="number">30</td>
		<td class="number">8.94</td>
		<td class="number">99</td>
	
</tr>

	
<tr>
		
<td class="number">8</td>
		<td class="teamname">Locks Heath</td>
		<td class="key">$</td>
		<td class="number">8</td>
		<td class="number">3</td>
		<td class="number">0</td>
		<td class="number">5</td>
		<td class="number">30</td>
		<td class="number">24</td>
		<td class="number">8.77</td>
		<td class="number">86</td>
	
</tr>

	
<tr>
		
<td class="number">9</td>
		<td class="teamname">Portsmouth Community</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">0</td>
		<td class="number">0</td>
		<td class="number">8</td>
		<td class="number">11</td>
		<td class="number">17</td>
		<td class="number">6.60</td>
		<td class="number">28</td>
	
</tr>


</table>
<br>
<table>
	
<tr>
		
<th width="10%" class="number">KEY</th>
		<td width="90%"> </td>
	
</tr>

	
<tr>
		
<td width="10%" class="key">$</td>
		<td width="90%">Late start - 4 points deducted</td>
	
</tr>


</table>
</div>
