<div id="table">
<h1>Division 1: Season 2003-04</h1>
<table>

<thead>
	
<tr>
		
<th class="number"></th>
		<th class="teamname"></th>
		<th class="key"></th>
		<th class="number">P</th>
		<th class="number">W</th>
		<th class="number">T</th>
		<th class="number">L</th>
		<th class="number">BAT</th>
		<th class="number">BOWL</th>
		<th class="number">RUN RATE</th>
		<th class="number">TOTAL</th>
	
</tr>

</thead>
	
<tr>
		
<td class="number">1</td>
		<td class="teamname champions">Havant A</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">8</td>
		<td class="number">0</td>
		<td class="number">0</td>
		<td class="number">47</td>
		<td class="number">39</td>
		<td class="number">10.67</td>
		<td class="number">182</td>
	
</tr>

	
<tr>
		
<td class="number">2</td>
		<td class="teamname">Sarisbury Athletic A</td>
		<td class="key">$</td>
		<td class="number">8</td>
		<td class="number">6</td>
		<td class="number">0</td>
		<td class="number">2</td>
		<td class="number">45</td>
		<td class="number">31</td>
		<td class="number">12.41</td>
		<td class="number">144</td>
	
</tr>

	
<tr>
		
<td class="number">3</td>
		<td class="teamname">Portchester A</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">5</td>
		<td class="number">0</td>
		<td class="number">3</td>
		<td class="number">39</td>
		<td class="number">36</td>
		<td class="number">10.04</td>
		<td class="number">135</td>
	
</tr>

	
<tr>
		
<td class="number">4</td>
		<td class="teamname">Harting</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">4</td>
		<td class="number">0</td>
		<td class="number">4</td>
		<td class="number">39</td>
		<td class="number">29</td>
		<td class="number">9.26</td>
		<td class="number">116</td>
	
</tr>

	
<tr>
		
<td class="number">5</td>
		<td class="teamname">Fareham &amp; Crofton A</td>
		<td class="key">A</td>
		<td class="number">7</td>
		<td class="number">3</td>
		<td class="number">0</td>
		<td class="number">4</td>
		<td class="number">30</td>
		<td class="number">19</td>
		<td class="number">9.74</td>
		<td class="number">106</td>
	
</tr>

	
<tr>
		
<td class="number">6</td>
		<td class="teamname">Southsea A</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">3</td>
		<td class="number">0</td>
		<td class="number">5</td>
		<td class="number">30</td>
		<td class="number">27</td>
		<td class="number">8.76</td>
		<td class="number">93</td>
	
</tr>

	
<tr>
		
<td class="number">7</td>
		<td class="teamname">Corinthians</td>
		<td class="key">X</td>
		<td class="number">8</td>
		<td class="number">2</td>
		<td class="number">0</td>
		<td class="number">6</td>
		<td class="number">34</td>
		<td class="number">30</td>
		<td class="number">9.24</td>
		<td class="number">84</td>
	
</tr>

	
<tr>
		
<td class="number">8</td>
		<td class="teamname">Southsea B</td>
		<td class="key"></td>
		<td class="number">8</td>
		<td class="number">1</td>
		<td class="number">0</td>
		<td class="number">7</td>
		<td class="number">34</td>
		<td class="number">28</td>
		<td class="number">9.04</td>
		<td class="number">74</td>
	
</tr>

	
<tr>
		
<td class="number">9</td>
		<td class="teamname relegated">Purbrook A</td>
		<td class="key">B</td>
		<td class="number">7</td>
		<td class="number">4</td>
		<td class="number">0</td>
		<td class="number">3</td>
		<td class="number">30</td>
		<td class="number">31</td>
		<td class="number">10.29</td>
		<td class="number">67</td>
	
</tr>



</table>
<table>


	
<tr>
		
<th class="number">NOTE</th>
		<td> </td>
	
</tr>

	
<tr>
		
<td> </td>
		<td>United Services A have withdrawn from the League - all points awarded for or against have been expunged.</td>
	
</tr>

</table>
<table>
	
<tbody>
		
<tr>
			
<th class="number">KEY</th>
			<td> </td>
		
</tr>

		
<tr>
			
<td class="key">$</td>
			<td>Late start - 4 points deducted</td>
		
</tr>

		
<tr>
			
<td class="key">X</td>
			<td>Late payment of fine - 4 points deducted</td>
		
</tr>

		
<tr>
			
<td class="key">A</td>
			<td>Abandoned match v Purbrook A - 21 points awarded</td>
		
</tr>

		
<tr>
			
<td class="key">B</td>
			<td>Abandoned match v Fareham &amp; Crofton A - 42 points deducted</td>
		
</tr>

	
</tbody>

</table>
</div>
