<div id="table">
<h1>Division 4: Season 2003-04</h1>
<table>

<thead>
	
<tr>
		
<th class="number"></th>
		<th class="teamname"></th>
		<th class="key"></th>
		<th class="number">P</th>
		<th class="number">W</th>
		<th class="number">T</th>
		<th class="number">L</th>
		<th class="number">BAT</th>
		<th class="number">BOWL</th>
		<th class="number">RUN RATE</th>
		<th class="number">TOTAL</th>
	
</tr>

</thead>
	
<tr>
		
<td class="number">1</td>
		<td class="teamname champions promoted">Hambledon</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">9</td>
		<td class="number">0</td>
		<td class="number">0</td>
		<td class="number">54</td>
		<td class="number">47</td>
		<td class="number">11.95</td>
		<td class="number">209</td>
	
</tr>

	
<tr>
		
<td class="number">2</td>
		<td class="teamname promoted">Locks Heath B</td>
		<td class="key">$</td>
		<td class="number">9</td>
		<td class="number">7</td>
		<td class="number">0</td>
		<td class="number">2</td>
		<td class="number">48</td>
		<td class="number">42</td>
		<td class="number">11.22</td>
		<td class="number">170</td>
	
</tr>

	
<tr>
		
<td class="number">3</td>
		<td class="teamname promoted">DOE Gosport Cavaliers</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">5</td>
		<td class="number">1</td>
		<td class="number">3</td>
		<td class="number">49</td>
		<td class="number">43</td>
		<td class="number">10.29</td>
		<td class="number">158</td>
	
</tr>

	
<tr>
		
<td class="number">4</td>
		<td class="teamname promoted">Old Hambledonians</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">5</td>
		<td class="number">0</td>
		<td class="number">4</td>
		<td class="number">46</td>
		<td class="number">38</td>
		<td class="number">10.47</td>
		<td class="number">144</td>
	
</tr>

	
<tr>
		
<td class="number">5</td>
		<td class="teamname">XIIth Men</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">5</td>
		<td class="number">0</td>
		<td class="number">4</td>
		<td class="number">39</td>
		<td class="number">39</td>
		<td class="number">8.82</td>
		<td class="number">138</td>
	
</tr>

	
<tr>
		
<td class="number">6</td>
		<td class="teamname">IBM South Hants B</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">4</td>
		<td class="number">1</td>
		<td class="number">4</td>
		<td class="number">32</td>
		<td class="number">30</td>
		<td class="number">8.93</td>
		<td class="number">116</td>
	
</tr>

	
<tr>
		
<td class="number">7</td>
		<td class="teamname">Fareham &amp; Crofton C</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">3</td>
		<td class="number">0</td>
		<td class="number">6</td>
		<td class="number">34</td>
		<td class="number">32</td>
		<td class="number">8.50</td>
		<td class="number">102</td>
	
</tr>

	
<tr>
		
<td class="number">8</td>
		<td class="teamname">Denmead A</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">2</td>
		<td class="number">0</td>
		<td class="number">7</td>
		<td class="number">31</td>
		<td class="number">39</td>
		<td class="number">8.18</td>
		<td class="number">94</td>
	
</tr>

	
<tr>
		
<td class="number">9</td>
		<td class="teamname">Portsmouth Community</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">3</td>
		<td class="number">0</td>
		<td class="number">6</td>
		<td class="number">21</td>
		<td class="number">33</td>
		<td class="number">7.34</td>
		<td class="number">90</td>
	
</tr>

	
<tr>
		
<td class="number">10</td>
		<td class="teamname">Denmead B</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">1</td>
		<td class="number">0</td>
		<td class="number">8</td>
		<td class="number">24</td>
		<td class="number">41</td>
		<td class="number">7.78</td>
		<td class="number">77</td>
	
</tr>


</table>
<table>
	
<tr>
		
<th class="number">KEY</th>
		<td> </td>
	
</tr>

	
<tr>
		
<td class="key">$</td>
		<td>Late start - 4 points deducted</td>
	
</tr>


</table>
</div>