<div id="table">
<h1>Division 2: Season 2003-04</h1>
<table>

<thead>
	
<tr>
		
<th class="number"></th>
		<th class="teamname"></th>
		<th class="key"></th>
		<th class="number">P</th>
		<th class="number">W</th>
		<th class="number">T</th>
		<th class="number">L</th>
		<th class="number">BAT</th>
		<th class="number">BOWL</th>
		<th class="number">RUN RATE</th>
		<th class="number">TOTAL</th>
	
</tr>

</thead>
	
<tr>
		
<td class="number">1</td>
		<td class="teamname champions promoted">Sarisbury Athletic B</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">7</td>
		<td class="number">0</td>
		<td class="number">2</td>
		<td class="number">44</td>
		<td class="number">45</td>
		<td class="number">9.76</td>
		<td class="number">173</td>
	
</tr>

	
<tr>
		
<td class="number">2</td>
		<td class="teamname promoted">Havant B</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">5</td>
		<td class="number">1</td>
		<td class="number">3</td>
		<td class="number">49</td>
		<td class="number">39</td>
		<td class="number">10.12</td>
		<td class="number">154</td>

	
</tr>
		
<td class="number">3</td>
		<td class="teamname">United Services B</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">6</td>
		<td class="number">0</td>
		<td class="number">3</td>
		<td class="number">45</td>
		<td class="number">34</td>
		<td class="number">9.69</td>
		<td class="number">151</td>
	
<tr></tr>

	
<tr>
		
<td class="number">4</td>
		<td class="teamname">Emsworth</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">6</td>
		<td class="number">0</td>
		<td class="number">3</td>
		<td class="number">42</td>
		<td class="number">37</td>
		<td class="number">9.41</td>
		<td class="number">151</td>
	
</tr>

	
<tr>
		
<td class="number">5</td>
		<td class="teamname">Portsmouth A</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">5</td>
		<td class="number">0</td>
		<td class="number">4</td>
		<td class="number">41</td>
		<td class="number">35</td>
		<td class="number">10.06</td>
		<td class="number">136</td>
	
</tr>

	
<tr>
		
<td class="number">6</td>
		<td class="teamname">Locks Heath A</td>
		<td class="key">X#</td>
		<td class="number">9</td>
		<td class="number">3</td>
		<td class="number">0</td>
		<td class="number">4</td>
		<td class="number">40</td>
		<td class="number">28</td>
		<td class="number">12.06</td>
		<td class="number">121</td>
	
</tr>

	
<tr>
		
<td class="number">7</td>
		<td class="teamname">Fareham &amp; Crofton B</td>
		<td class="key">#</td>
		<td class="number">9</td>
		<td class="number">2</td>
		<td class="number">0</td>
		<td class="number">6</td>
		<td class="number">32</td>
		<td class="number">32</td>
		<td class="number">9.33</td>
		<td class="number">109</td>
	
</tr>

	
<tr>
		
<td class="number">8</td>
		<td class="teamname">Bedhampton A</td>
		<td class="key">#</td>
		<td class="number">9</td>
		<td class="number">2</td>
		<td class="number">0</td>
		<td class="number">6</td>
		<td class="number">29</td>
		<td class="number">25</td>
		<td class="number">8.23</td>
		<td class="number">99</td>
	
</tr>

	
<tr>
		
<td class="number">9</td>
		<td class="teamname relegated">Portsmouth B</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">3</td>
		<td class="number">1</td>
		<td class="number">3</td>
		<td class="number">30</td>
		<td class="number">20</td>
		<td class="number">9.93</td>
		<td class="number">92</td>
	
</tr>

	
<tr>
		
<td class="number">10</td>
		<td class="teamname relegated">Gosport Borough</td>
		<td class="key"></td>
		<td class="number">9</td>
		<td class="number">2</td>
		<td class="number">0</td>
		<td class="number">7</td>
		<td class="number">28</td>
		<td class="number">39</td>
		<td class="number">8.42</td>
		<td class="number">91</td>
	
</tr>



</table>
<table>
	
<tr>
		
<th class="number">KEY</th>
		<td> </td>
	
</tr>

	
<tr>
		
<td class="key">X</td>
		<td>Late payment of fine - 4 points deducted</td>
	
</tr>

	
<tr>
		
<td class="key">#</td>
		<td>Non-arrival of opposition - 21 points awarded</td>
	
</tr>

</table>
</div>
