<div id="batav">
<h1>Senior Batting: Season 2003-04</h1>
<table>
	
<thead>
		
<tr>
			
<td class="number"></td>
			<th class="name">Batsman's name</th>
			<th class="name">Club</th>
			<th class="number">Total runs</th>
		
</tr>
	
</thead>
	
<tbody>
<tr>
		
<td class="number">1</td>
		<td class="name">J Scutt</td>
		<td class="name">Hambledon</td>
		<td class="number">330</td>
	
</tr>
	
<tr>
		
<td class="number">2</td>
		<td class="name">S Pearce</td>
		<td class="name">Purbrook B</td>
		<td class="number">327</td>
	
</tr>
	
<tr>
		
<td class="number">3</td>
		<td class="name">M Hovey</td>
		<td class="name">Bedhampton B</td>
		<td class="number">274</td>
	
</tr>
	
<tr>
		
<td class="number">4</td>
		<td class="name">A Holder</td>
		<td class="name">Purbrook B</td>
		<td class="number">264</td>
	
</tr>
	
<tr>
		
<td class="number">5</td>
		<td class="name">S Chilton</td>
		<td class="name">Bedhampton B</td>
		<td class="number">250</td>
	
</tr>
	
<tr>
		
<td class="number">6</td>
		<td class="name">D Kennall</td>
		<td class="name">Portchester B</td>
		<td class="number">247</td>
	
</tr>
	
<tr>
		
<td class="number">7</td>
		<td class="name">S Jones</td>
		<td class="name">Locks Heath A</td>
		<td class="number">239</td>
	
</tr>
	
<tr>
		
<td class="number">8</td>
		<td class="name">J Floyd</td>
		<td class="name">Sarisbury Athletic B</td>
		<td class="number">232</td>
	
</tr>
	
<tr>
		
<td class="number">9</td>
		<td class="name">S Clements</td>
		<td class="name">Southsea C</td>
		<td class="number">229</td>
	
</tr>
	
<tr>
		
<td class="number">10</td>
		<td class="name">A Pitts</td>
		<td class="name">Portsmouth A</td>
		<td class="number">211</td>
	
</tr>
	
<tr>
		
<td class="number">11</td>
		<td class="name">P Robson</td>
		<td class="name">Gosport Borough</td>
		<td class="number">209</td>
	
</tr>
	
<tr>
		
<td class="number">12</td>
		<td class="name">P Smith</td>
		<td class="name">United Services B</td>
		<td class="number">198</td>
	
</tr>
	
<tr>
		
<td class="number">13</td>
		<td class="name">R Higgins</td>
		<td class="name">Locks Heath B</td>
		<td class="number">194</td>
	
</tr>
	
<tr>
		
<td class="number">14</td>
		<td class="name">C Clarke</td>
		<td class="name">Old Hambledonians</td>
		<td class="number">193</td>
	
</tr>
	
<tr>
		
<td class="number">15</td>
		<td class="name">M Journeaux</td>
		<td class="name">Sarisbury Athletic A</td>
		<td class="number">186</td>
	
</tr>
	
<tr>
		
<td class="number">16</td>
		<td class="name">J Clarke</td>
		<td class="name">Old Hambledonians</td>
		<td class="number">182</td>
	
</tr>
	
<tr>
		
<td class="number">17</td>
		<td class="name">A Tucker</td>
		<td class="name">Fareham &amp; Crofton B</td>
		<td class="number">174</td>
	
</tr>
	
<tr>
		
<td class="number">18</td>
		<td class="name">S Wainwright</td>
		<td class="name">Corinthians</td>
		<td class="number">173</td>
	
</tr>
	
<tr>
		
<td class="number"></td>
		<td class="name">M Offord</td>
		<td class="name">Emsworth</td>
		<td class="number">173</td>
	
</tr>
	
<tr>
		
<td class="number">20</td>
		<td class="name">S Barnard</td>
		<td class="name">Havant A</td>
		<td class="number">171</td>
	
</tr>
	
<tr>
		
<td class="number"></td>
		<td class="name">J Gurney</td>
		<td class="name">Waterlooville</td>
		<td class="number">171</td>
	
</tr>
	
<tr>
		
<td class="number"></td>
		<td class="name">R Emery</td>
		<td class="name">Fareham &amp; Crofton C</td>
		<td class="number">171</td>
	
</tr>
	
<tr>
		
<td class="number"></td>
		<td class="name">L Russell</td>
		<td class="name">Portsmouth A</td>
		<td class="number">171</td>
	
</tr>
	
<tr>
		
<td class="number">24</td>
		<td class="name">N Richardson</td>
		<td class="name">Southsea A</td>
		<td class="number">170</td>
	
</tr>
	
<tr>
		
<td class="number">25</td>
		<td class="name">S Kelly</td>
		<td class="name">Portchester A</td>
		<td class="number">169</td>
	
</tr>
	
<tr>
		
<td class="number"></td>
		<td class="name">G Marchant</td>
		<td class="name">Fareham &amp; Crofton A</td>
		<td class="number">169</td>
	
</tr>
	
<tr>
		
<td class="number"></td>
		<td class="name">P Ockenden</td>
		<td class="name">Curdridge</td>
		<td class="number">169</td>
	
</tr>
	
<tr>
		
<td class="number">28</td>
		<td class="name">J Brighton</td>
		<td class="name">Hambledon</td>
		<td class="number">168</td>
	
</tr>
	
<tr>
		
<td class="number">29</td>
		<td class="name">D Cornish</td>
		<td class="name">Portsmouth A</td>
		<td class="number">167</td>
	
</tr>
	
<tr>
		
<td class="number">30</td>
		<td class="name">S Smith</td>
		<td class="name">Southsea B</td>
		<td class="number">166</td>
	
</tr>


</tbody>
</table>
</div>
