<div id="bowlav">
<h1>Senior Bowling: Season 2003-04</h1>
<table>
	
<thead>
		
<tr>
			
<th class="number"></th>
			<th class="name">Bowler's Name</th>
			<th class="name">Club</th>
			<th class="number">Total Wkts</th>
			<th class="number">Runs per Over</th>
		
</tr>
	
</thead>
	
<tbody>
<tr>
		
<td class="number">1</td>
		<td class="name">N Webb</td>
		<td class="name">Emsworth</td>
		<td class="number">13</td>
		<td class="number">8.62</td>
	
</tr>
	
<tr>
		
<td class="number">2</td>
		<td class="name">D Harrop</td>
		<td class="name">DOE Gosport Cavaliers</td>
		<td class="number">13</td>
		<td class="number">9.29</td>
	
</tr>
	
<tr>
		
<td class="number">3</td>
		<td class="name">T Foster</td>
		<td class="name">XIIth Men</td>
		<td class="number">12</td>
		<td class="number">10.48</td>
	
</tr>
	
<tr>
		
<td class="number">4</td>
		<td class="name">D Langrish</td>
		<td class="name">Waterlooville</td>
		<td class="number">11</td>
		<td class="number">7.45</td>
	
</tr>
	
<tr>
		
<td class="number">5</td>
		<td class="name">K Hammond</td>
		<td class="name">Sarisbury Athletic B</td>
		<td class="number">11</td>
		<td class="number">8.65</td>
	
</tr>
	
<tr>
		
<td class="number">6</td>
		<td class="name">P Brighton</td>
		<td class="name">Hambledon</td>
		<td class="number">9</td>
		<td class="number">6.88</td>
	
</tr>
	
<tr>
		
<td class="number">7</td>
		<td class="name">P Levy</td>
		<td class="name">Locks Heath B</td>
		<td class="number">9</td>
		<td class="number">8.13</td>
	
</tr>
	
<tr>
		
<td class="number">8</td>
		<td class="name">S Roberts</td>
		<td class="name">Sarisbury Athletic B</td>
		<td class="number">9</td>
		<td class="number">8.65</td>
	
</tr>
	
<tr>
		
<td class="number">9</td>
		<td class="name">R Heke</td>
		<td class="name">Portchester B</td>
		<td class="number">9</td>
		<td class="number">8.68</td>
	
</tr>
	
<tr>
		
<td class="number">10</td>
		<td class="name">J Ginger</td>
		<td class="name">Cowplain</td>
		<td class="number">9</td>
		<td class="number">8.89</td>
	
</tr>
	
<tr>
		
<td class="number">11</td>
		<td class="name">S Clements</td>
		<td class="name">Southsea C</td>
		<td class="number">9</td>
		<td class="number">9.00</td>
	
</tr>
	
<tr>
		
<td class="number">12</td>
		<td class="name">S Figgins</td>
		<td class="name">Purbrook B</td>
		<td class="number">9</td>
		<td class="number">9.38</td>
	
</tr>
	
<tr>
		
<td class="number">13</td>
		<td class="name">M Middleton</td>
		<td class="name">Southsea A</td>
		<td class="number">9</td>
		<td class="number">10.25</td>
	
</tr>
	
<tr>
		
<td class="number">14</td>
		<td class="name">S Kelly</td>
		<td class="name">Portchester A</td>
		<td class="number">9</td>
		<td class="number">10.73</td>
	
</tr>
	
<tr>
		
<td class="number">15</td>
		<td class="name">N Crocombe</td>
		<td class="name">Bedhampton A</td>
		<td class="number">9</td>
		<td class="number">11.63</td>
	
</tr>
	
<tr>
		
<td class="number">16</td>
		<td class="name">S Gale</td>
		<td class="name">Portchester B</td>
		<td class="number">8</td>
		<td class="number">6.30</td>
	
</tr>
	
<tr>
		
<td class="number">17</td>
		<td class="name">K Gledstone</td>
		<td class="name">IBM South Hants A</td>
		<td class="number">8</td>
		<td class="number">7.54</td>
	
</tr>
	
<tr>
		
<td class="number">18</td>
		<td class="name">T George</td>
		<td class="name">Portsmouth Community</td>
		<td class="number">8</td>
		<td class="number">8.63</td>
	
</tr>
	
<tr>
		
<td class="number">19</td>
		<td class="name">P Hammond</td>
		<td class="name">Sarisbury Athletic A</td>
		<td class="number">8</td>
		<td class="number">9.43</td>
	
</tr>
	
<tr>
		
<td class="number">20</td>
		<td class="name">P Croxson</td>
		<td class="name">IBM South Hants B</td>
		<td class="number">8</td>
		<td class="number">9.67</td>
	
</tr>
	
<tr>
		
<td class="number">21</td>
		<td class="name">J Clarke</td>
		<td class="name">Old Hambledonians</td>
		<td class="number">8</td>
		<td class="number">10.22</td>
	
</tr>
	
<tr>
		
<td class="number">22</td>
		<td class="name">T Barnard</td>
		<td class="name">Denmead B</td>
		<td class="number">8</td>
		<td class="number">10.53</td>
	
</tr>
	
<tr>
		
<td class="number">23</td>
		<td class="name">M Selbie</td>
		<td class="name">Fareham &amp; Crofton B</td>
		<td class="number">8</td>
		<td class="number">12.70</td>
	
</tr>
	
<tr>
		
<td class="number">24</td>
		<td class="name">M Collins</td>
		<td class="name">Fareham &amp; Crofton C</td>
		<td class="number">8</td>
		<td class="number">15.05</td>
	
</tr>
	
<tr>
		
<td class="number">25</td>
		<td class="name">N Lane</td>
		<td class="name">Denmead A</td>
		<td class="number">7</td>
		<td class="number">5.56</td>
	
</tr>
	
<tr>
		
<td class="number">26</td>
		<td class="name">A Toon</td>
		<td class="name">DOE Gosport Cavaliers</td>
		<td class="number">7</td>
		<td class="number">5.98</td>
	
</tr>
	
<tr>
		
<td class="number">27</td>
		<td class="name">D Wheeler</td>
		<td class="name">Hambledon</td>
		<td class="number">7</td>
		<td class="number">6.98</td>
	
</tr>
	
<tr>
		
<td class="number">28</td>
		<td class="name">A Smith</td>
		<td class="name">United Services B</td>
		<td class="number">7</td>
		<td class="number">7.40</td>
	
</tr>
	
<tr>
		
<td class="number">29</td>
		<td class="name">I Clark</td>
		<td class="name">Portsmouth Community</td>
		<td class="number">7</td>
		<td class="number">7.67</td>
	
</tr>
	
<tr>
		
<td class="number">30</td>
		<td class="name">P Hungerford</td>
		<td class="name">Portchester A</td>
		<td class="number">7</td>
		<td class="number">8.06</td>
	
</tr>

</tbody>
</table>
</div>
